@import "../main.scss";

.col-xs-9 {
    max-width: 100%;
    flex-basis: 100%;
}

#add-additional-type, #add-additional-make {
    margin: 10px;
}


#type-information, #make-information {
    visibility: hidden;
    height: 0;

    &.expanded {
        visibility: visible;
        height: auto;
    }

    .mia-panel-heading {
        min-width: 210px;
    }
}

.has-button{
    align-items: center;
}
