<div class="modal fade" id="view-call-history-modal" tabindex="-1" role="dialog" aria-labelledby="view-call-history-modal" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">View Call</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="row">
						<div class="col-md-8">
							<table class="table" id="call-tickets-table">
								<thead>
								<tr>
									<th>ID</th>
									<th>TICKET TITLE</th>
									<th>STATUS</th>
									<th>CREATED</th>
									<th></th>
								</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
						<div class="col-md-4">
							<h4>Call Information</h4>
							<div class="call-information">
								<p>ID: <strong id="call-id"></strong></p>
								<p>Caller: <strong id="call-caller"></strong></p>
								<p>Operator: <strong id="call-operator"></strong></p>
								<p>Date: <strong id="call-date"></strong></p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Notes about this call</label>
								<textarea class="form-control" name="notes" readonly="" id="call-notes"></textarea>
								<p id="no-call-notes">No notes were left for this call.</p>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
