wordpress/wp-content/themes/make-it-all/css/*
wordpress/wp-content/themes/make-it-all/js/*
wordpress/wp-content/plugins/make-it-all/resources/css/*
wordpress/wp-content/plugins/make-it-all/resources/js/*

node_modules
package-lock.json
mix-manifest.json

.DS_Store
*.log
wordpress/wp-config.php
wordpress/wp-content/advanced-cache.php
wordpress/wp-content/backup-db/
wordpress/wp-content/backups/
wordpress/wp-content/blogs.dir/
wordpress/wp-content/cache/
wordpress/wp-content/upgrade/
wordpress/wp-content/uploads/
wordpress/wp-content/mu-plugins/
wordpress/wp-content/wordpress/wp-cache-config.php
wordpress/wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
