{% extends "backend/views/layouts/page.twig" %}

{% block main %}
	<div class="row">
		<div class="col-md-9">
			<div class="finder-window">
				<div class="row problem-type-picker-header">
					<p>
						<i class="fa fa-warning"></i>
						Loading…
					</p>
				</div>
				<div class="row">
					<div class="recent-problems">
						<p>Common</p>
						<ul>
							<li>
								Printer / Low Ink
							</li>
							<li>
								Drink Machine
							</li>
						</ul>
						<p>Recents</p>
						<ul>
							<li>
								Printer / Ink
							</li>
							<li>
								Keyboard / Keys
							</li>
							<li>
								Speaker
							</li>
						</ul>
						<p>My Favourites</p>
						<ul>
							<li>
								Security / Cryptography
							</li>
							<li>
								Security / Breach
							</li>
						</ul>
					</div>
					<div class="problem-type-picker">
						<div class="type-columns"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script>
		var employees          = {{ employees }},
			expertiseTypes     = {{ expertise_types }},
			expertiseTypeStaff = {{ expertise_type_staff }};
	</script>
{% endblock %}