{% extends "backend/views/layouts/page.twig" %}

{% block main %}
	<div class="row">
		<div class="col-md-9">
			<div class="finder-window">
				<div class="row problem-type-picker-header">
					<p>
						<i class="fa fa-warning"></i>
						Printer / Ink / Low Ink
					</p>
				</div>
				<div class="row">
					<div class="recent-problems">
						<p>Common</p>
						<ul>
							<li>
								Printer / Low Ink
							</li>
							<li>
								Drink Machine
							</li>
						</ul>
						<p>Recents</p>
						<ul>
							<li>
								Printer / Ink
							</li>
							<li>
								Keyboard / Keys
							</li>
							<li>
								Speaker
							</li>
						</ul>
						<p>My Favourites</p>
						<ul>
							<li>
								Security / Cryptography
							</li>
							<li>
								Security / Breach
							</li>
						</ul>
					</div>
					<div class="problem-type-picker">
						<div class="type-columns">
							<div class="type-column">
								<li class="last-active" data-expertise-type-id="1">
									Printer
									<div class="specialist-counter">
										3 <i class="fa fa-user"></i>
									</div>
									<i class="fa fa-caret-right"></i>
								</li>
							
								<li data-expertise-type-id="2">
									Monitor
									<div class="specialist-counter">
										4 <i class="fa fa-user"></i>
									</div>
									<i class="fa fa-caret-right"></i>
								</li>
							
								<li data-expertise-type-id="3">
									Keyboard
									<div class="specialist-counter">
										3 <i class="fa fa-user"></i>
									</div>
									<i class="fa fa-caret-right"></i>
								</li>
							
								<li class="no-children" data-expertise-type-id="4">
									Speaker
									<div class="specialist-counter">
										1 <i class="fa fa-user"></i>
									</div>
									<i class="fa fa-caret-right"></i>
								</li>
							
								<li data-expertise-type-id="5">
									Mouse
									<div class="specialist-counter">
										2 <i class="fa fa-user"></i>
									</div>
									<i class="fa fa-caret-right"></i>
								</li>
							
								<li data-expertise-type-id="31">
									Software
									<div class="specialist-counter">
										3 <i class="fa fa-user"></i>
									</div>
									<i class="fa fa-caret-right"></i>
								</li>
							
								<li data-expertise-type-id="36">
									Security
									<div class="specialist-counter">
										3 <i class="fa fa-user"></i>
									</div>
									<i class="fa fa-caret-right"></i>
								</li>
							
								<li class="no-children" data-expertise-type-id="44">
									User Knowledge
									<div class="specialist-counter">
										4 <i class="fa fa-user"></i>
									</div>
									<i class="fa fa-caret-right"></i>
								</li>
							</div>
							<div class="type-column">
								<li data-expertise-type-id="2">
									Ink
									<div class="specialist-counter">
										4 <i class="fa fa-user"></i>
									</div>
									<i class="fa fa-caret-right"></i>
								</li>

								<li data-expertise-type-id="1">
									Cable Broken
									<div class="specialist-counter">
										3 <i class="fa fa-user"></i>
									</div>
									<i class="fa fa-caret-right"></i>
								</li>
							
								<li data-expertise-type-id="3">
									Power
									<div class="specialist-counter">
										3 <i class="fa fa-user"></i>
									</div>
									<i class="fa fa-caret-right"></i>
								</li>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			
		</div>
	</div>
{% endblock %}