@import "../main";

@include colhide(1); // forces #list-view to use flex-shrink: 1

.collapsible {
	display: none;
}

input.form-control[disabled=disabled] {
	background-color: #ffffff;
}

.breaker {
	margin-bottom: 25px;
}

div.form-group.pull-right{
	width: 200px;
}

.card {
	border-radius: 0px;
}

h4 {
	margin: 0;
}

#list-view {
	flex-shrink: 1;
}

#ticket-backlog {
	position: relative;
	margin: auto;
	min-height: 250px;
	width: 100%;
}

@media (max-width: $small) {
	#problem-type-card {
		margin: auto;
	}
}