/*
Settings page CSS for user information presentation
with full-page presentation of user information
 */

@import "../main";

.section {
	margin-top: $comfortable;
}

#list-view {
	flex-shrink: 1;
}

.form-control:disabled {
	color: black;
}

.html-input {
	height: 40px;
	padding: 8px 12px;
	border-radius: 0;
	border: 1px solid $silver;
	border-bottom: 2px solid $silver;
	background-color: #e9ecef;
	line-height: 21px;

	i:not(:first-child) {
		margin-left: $cosy;
	}
}

.profile-photo-col {
	min-width: 128px;
	max-width: 300px;
	margin: 0 auto;
}

.card {
	border: 0;

	img {
		border-radius: 0;
	}

	.card-title {
		font-size: 25px;
		font-weight: 600;
		margin: 0;
		display: inline-block;
		color: $black;
		
		p {
			text-align: right;
		  line-height: 15px;
		  font-size: 10px;
		  color: $grey;
		}
	}

	.card-body {
		border-radius: 0;
		border: 1px solid $silver;
		border-bottom: 2px solid $silver;
		padding: 12px;
	}
}

#staff-permissions > span {
	margin-right: $comfortable;
	> i {
		margin-right: $compact;
	}
}

.save-changes {
	margin-top: $comfortable;
}

@media (max-width: $small) {
	.side-nav-bar-nested ul li:last-child > .btn {
		width: unset;
	}
	.card {
		margin: 0 auto;
		width: 256px;
		max-width: 100%;
	}
	.custom-file {
		width: 100%;
	}
}
