{#
Main layout used across the application including navigation
(both main navigation across pages and subnav for in-page navigation)
as well as single-view handling with the content view displayed
on the right of some pages showing more detail.
This layout just provides an outline, yielding to individual pages
to display their own content.
#}

{% extends "layouts/page.twig" %}

{% block main %}

	{# Main navigation across pages #}
	{% include "partials/nav.twig" %}

	{# Subnavigation within the individual page #}
	{% block subnav %}{% endblock %}

	{# Main area for displaying content #}
	<section id="list-view" data-page="{{ activePage }}">
		{% block top_nav %}{% endblock %}
		{% block list_view %}{% endblock %}
	</section>

	{# Single view area for displaying more information
	     e.g. for a table row being clicked, showing further
	          details about that row #}
	{% if hasSingleView %}
		<section id="single-view">
			{% block single_view %}{% endblock %}
		</section>
	{% endif %}

	{# Any modals which may need to be displayed on the page
	     are inserted at the end and presented using JavaScript #}
	{% block modals %}{% endblock %}

{% endblock %}
