{#
Login page with login form for email address and password
Main starting point for application, which the user is
redirected to if no authentication present on a GET request
to / (application root).
#}

{% extends "layouts/content.twig" %}

{% block main %}
	{# Only element on page #}
	<form class="card">
		<h1>Help Desk — Login</h1>
		<div class="container">
			<div class="form-group row">
				<label for="email" class="col-sm-3 col-form-label-lg">Email</label>
				<div class="col-sm-9">
					{# autocomplete and autocorrect are nonstandard HTML attributes for mobile web browsers #}
					<input type="email" class="form-control form-control-lg" id="email" placeholder="Enter email" autocomplete="off" autocorrect="off">
				</div>
			</div>
			<div class="form-group row">
				<label for="password" class="col-sm-3 col-form-label-lg">Password</label>
				<div class="col-sm-9">
					<input type="password" class="form-control form-control-lg" id="password" placeholder="Enter password">
				</div>
			</div>
			{# Can be ‘clicked’ by pressing Enter with either input active #}
			<div class="float-right">
				<button type="button" class="btn btn-success btn-lg" data-action="login">Login</button>
			</div>
		</div>
	</form>
{% endblock %}
