{#
Metrics page which shows statistics about operators, and the state of the system.
If the user is logged is as someone with analyst privileges, they will be able to view
statistics about the entire system, and they will be able to view other peoples personal
stats. Users without analyst privileges will only be able to see their own stats.
#}

{% extends "layouts/content.twig" %}

{% block list_view %}
	<nav class="top-nav">
		<i class="fa fa-bar-chart"></i>
		<h4 class="main-content-title">Metrics of Staff</h4>
		<div class="form-group search-field input-field float-right" style="display:flex;margin-left:auto">
			<select class="selectpicker" data-live-search="true" id="StaffNameSearch">
			</select>
		</div>
	</nav>
	<div class="main-content">
		<div class="row">
			<div class="col-md-4 collapsible">
				<div class="form-group">
					<label> Name </label>
					<input disabled="disabled" class="form-control" id="name">
				</div>
			</div>
			<div class="col-md-4 collapsible">
				<div class="form-group">
					<label> Phone</label>
					<input disabled="disabled" class="form-control" id="phone">
				</div>
			</div>
			<div class="col-md-4 collapsible">
				<div class="form-group">
					<label> Role</label>
					<input disabled="disabled" class="form-control" id="role">
				</div>
			</div>
			<div class="breaker collapsible"></div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="card mb-3">
					<div class="card-header">
						<h4 id="ticketTitle" class="main-content-title">Ticket Backlog</h4>
					</div>
					<div class="card-body" style="position:relative; margin:auto; height:20vh; width:100%;">
						<canvas id="operatorStatistics"></canvas>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="card mb-3">
					<div class="card-header">
						<h4 id="statsTitle" class="main-content-title">Statistics</h4>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Average Time Taken to Solve a Ticket</label>
									<input class="form-control" id="avgTimeToSolveTicket">
								</div>
								<div class="form-group">
									<label>Average Replies per Ticket</label>
									<input class="form-control" id="avgRepliesPerTicket">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Total Tickets Assigned</label>
									<input class="form-control" id="totalTicketsAssigned">
								</div>
								<div class="form-group">
									<label>Total Tickets Solved</label>
									<input class="form-control" id="totalTicketsSolved">
								</div>
							</div>
						</div>
						
						<div class="row" id="HW_SW" style="display:none">
							<div class="breaker"></div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Total Number of Software </label>
									<input class="form-control" id="noOfSoftware">
								</div>
								<div class="form-group">
									<label>Number of Software with Issues</label>
									<input class="form-control" id="noOfSoftwareWithIssues">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Total Number of Devices</label>
									<input class="form-control" id="noOfDevices">
								</div>
								<div class="form-group">
									<label>Number of Devices with Issues</label>
									<input class="form-control" id="noOfDevicesWithIssues">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card mb-3">
					<div class="card-header">
						<h4 class="main-content-title">Problem Type Breakdown of Tickets</h4>
					</div>
					<div class="card-body" id="problem-type-card" style="position:relative;">
						<canvas id="problemTypeSolved"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
