{#
Software page with table listing all programs. Each program can clicked to show more 
information about the program, such as what tickets it's assigned to and what hardware
it is commonly associated with. 
#}

{% extends "layouts/content.twig" %}

{% block top_nav %}
	{% include "sections/top_nav.twig" with {"name": "Software", "icon": "file-code-o"} %}
{% endblock %}

{% block list_view %}
	{% include "sections/table_section.twig" with
		{
			"columns": {
				"name": "Software",
				"operating_system": "Type",
				"created_at": "Created",
				"updated_at": "Updated"
			}
		}
	%}
{% endblock %}

{% block single_view %}
	<section id="single-view">
		{% include "sections/top_nav.twig" with {"name": "", "buttonsmodal": "edit-program-modal"} %}
		<div class="main-content">
			<div class="card mb-3">
				<h6 class="card-header main-content-title">
					<i class="fa fa-ticket"></i> Tickets
					<span id="ticket-total" class="text-muted list-total">Total: </span>
				</h6>
				<div class="card-body card-list">
					<ul id="tickets" class="list-group">
						
					</ul>
				</div>
			</div>

			<div class="card mb-3">
				<h6 class="card-header main-content-title">
					<i class="fa fa-file-code-o"></i> Related Hardware
					<span id="hardware-total" class="text-muted list-total">Total: </span>
				</h6>
				<div class="card-body card-list">
					<ul id="hardware" class="list-group">

					</ul>
				</div>
			</div>
		</div>
	</section>
{% endblock %}