{% extends "layouts/content.twig" %}

{% block subnav %}
	{% include "partials/subnav.twig" with
		{
			"icon": "ticket",
			"subtext": "Categories",
			"links": [
				{
					"name": "All",
					"slug": "new,pending_in_progress,resolved",
					"icon": "envelope-o",
					"active": true
				},
				{
					"name": "All Open",
					"slug": "new,pending_in_progress",
					"icon": "envelope-open-o"
				},
				{
					"name": "Assigned to me",
					"slug": "assigned_to_me",
					"icon": "user-circle-o",
					"breaker": true
				},
				{
					"name": "New",
					"slug": "new",
					"icon": "star-o",
					"breaker": true
				},
				{
					"name": "Pending - In Progress",
					"slug": "pending_in_progress",
					"icon": "clock-o"
				},
				{
					"name": "Resolved",
					"slug": "resolved",
					"icon": "check"
				}
			],
			"button": {
				"name": "New Ticket",
				"type": "success",
				"icon": "plus",
				"class": "new-ticket",
				"modal": "new-ticket-modal"
			}
		}
	%}
{% endblock %}

{% block top_nav %}
	{% include "sections/top_nav.twig" with {"name": "Tickets", "icon": "ticket", "search": true} %}
{% endblock %}

{% block list_view %}
	{% include "sections/splash_screen.twig" with
		{
			"title": "No results",
			"subtitle": "Get started, create a ticket.",
			"button": {
				"name": "New User",
				"icon": "plus",
				"type": "success",
				"modal": "new-staff-modal"
			},
			"hidden": true
		}
	%}

	{% include "sections/table_section.twig" with
		{
			"columns": {
				"title": "Ticket Title",
				"status_name": "Status",
				"updated_at": "Updated",
				"created_at": "Created"
			}
		}
	%}
{% endblock %}

{% block single_view %}
	{% include "sections/top_nav.twig" with {"name": "Loading…", "buttonsmodal": "edit-ticket-modal"} %}

	<div id="ticket-view">
		<div class="row">
			<div class="col-md-12">
				<p class="ticket-details">
					<strong>Description</strong>
					<span id="ticket-overview" class="subtle"></span>
				</p>
				<div id="ticket-description">
					<p></p>
				</div>
			</div>
		</div>

		<div class="row tables">
			<div>
				<p class="ticket-details">
					<strong>Hardware, Software & OS</strong>
					<span id="ticket-operating-system" class="subtle"></span>
				</p>
				<table class="table compact" id="hardware-software-table">
					<thead>
						<tr>
							<th>NAME</th>
							<th>SERIAL</th>
							<th>TYPE</th>
							<th></th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
			<div>
				<p class="ticket-details">
					<strong>Call History</strong>
					<span class="subtle" id="show-new-call-modal" data-toggle="modal" data-target="#follow-up-call-modal">Register follow-up call</span>
				</p>
				<table class="table compact data" id="call-history-table">
					<thead>
						<tr>
							<th>ID</th>
							<th>CALLER</th>
							<th>DATE</th>
							<th></th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
		
		<h4>Updates</h4>

		<ul class="list-unstyled" id="ticket-comments"></ul>

		<div id="comment-block">
			<li class="media">
				<a href="/settings">
					<img class="d-flex mr-3" src="/res/avatar/dana@makeitall.com" alt="Dana Gibson's Profile Picture">
				</a>
				<div class="media-body">
					<form>
						<div class="form-group">
							<textarea name="content" class="form-control" placeholder="Reply to the ticket thread here…" validation="required|min:2|max:65535"></textarea>
						</div>

						<button class="btn btn-success" id="create-new-event">
							<i class="fa fa-paper-plane"></i>
							Send Reply
						</button>
					</form>
				</div>
			</li>
		</div>
	</div>
{% endblock %}

{% block modals %}
	{% include "modals/view_call_history.twig" %}
{% endblock %}
