<div class="wrap">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="wp-heading-inline">{{ page_name }}</h1>
		</div>
	</div>
	{% block main %}{% endblock %}
	{% block scripts %}{% endblock %}