$white: #ffffff;
$cloudy-white: #ecf0f1;
$silver: #bdc3c7;
$black: #2c3e50;
$black-hover: #000000;
$grey: #999999;
$grey-hover: #ecf0f1;
$dark-blue: #34495e;
$dark-blue-hover: #2c3e50;
$blue: #3498db;
$blue-hover: #2980b9;
$red: #e74c3c;
$red-hover: #c0392b;
$red-highlight: rgba(220, 53, 69, .25);
$green: #28a745;
$green-hover: #218838;
$green-highlight: rgba(40, 167, 69, .25);
$orange: #f39c12;
$orange-hover: #e67e22;
$highlight: rgba(241, 196, 15, 0.2);
$highlight-hover: rgba(241, 196, 15, 0.3);

// Component sizing
$thin: 2px;
$compact: 4px;
$cosy: 8px;
$comfortable: 16px;

// Font sizing
$standard: 14px;
$h4: 24px;

body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: flex-start;
	
	> nav, > section {
		overflow-x: hidden;
		overflow-y: auto;
	}
}

code {
	font-family: "Menlo", monospace;
}

nav ul {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}

.side-nav-bar {
	overflow-y: auto;
	background-color: $dark-blue;
	width: 100px;
	min-width: 100px;

	.btn {
		width: 100%;
		border-radius: 0;
		border: 0;
	}
	
	a {
		color: unset;
		&:hover {
			text-decoration: none;
		}
	}

	ul {
		li {
			color: $grey;
			text-align: center;
			padding-top: $cosy;
			padding-bottom: $cosy;
			cursor: pointer;
			transition: background-color .2s ease-out, color .2s;

			&:first-child {
				padding-top: $comfortable;
			}

			&:last-child {
				margin-bottom: 0;
			}

			&:hover {
				.fa {
					-webkit-text-stroke: 0.5 $dark-blue-hover;
				}
			}

			&:hover:not(:last-child) {
				background-color: $dark-blue-hover;
				border-left: 3px $blue-hover solid;
				padding-right: 3px; // Offset $thin border indentation
			}

			.fa {
				width: 100%;
				-webkit-text-stroke: 0.5px $dark-blue; // Make icons a bit thinner
			}
			
			// Smaller icons need larger font size to match others
			&:nth-child(4) .fa, &:nth-child(5) .fa {
				font-size: 2.5em;
			}

			&.active {
				background-color: $dark-blue-hover;
				border-left: 3px $blue solid;
				padding-right: 3px; // Offset $thin border indentation

				.fa {
					color: $blue;
				}
				
				p {
					color: $grey-hover;
				}

				&:hover {
					border-left: 3px $blue solid;
					padding-right: 3px; // Offset $thin border indentation

					.fa {
						color: $blue;
					}
				}
			}

			p {
				margin-bottom: 0;
				margin-right: $compact;
				margin-left: $compact;
				font-size: 15px;
				line-height: 20px;
				margin-top: 5px;
			}

			&:nth-child(4), &:nth-child(5) { // Hardware and Help icons have strange heights
				p {
					margin-top: 0;
				}
			}
		}

		.breaker {
			margin: $comfortable;
			width: initial !important;
			border-bottom: 1px solid $grey !important;
		}
	}
}

.side-nav-bar-nested {
	padding: $comfortable;
	background-color: $cloudy-white;
	width: 224px;
	min-width: 224px;
	color: #2c3e50;
	z-index: 2; // Make box shadow appear on top of all content to the right
	border-right: 1px solid $silver;

	p {
		font-size: $comfortable;
		opacity: .75;
		margin-top: $compact;
		text-align: right;
	}

	ul {
		margin-bottom: $cosy;
	}
	
	li {
		font-size: $standard;
		border-bottom: 1px solid $silver;
		padding: $compact 0;
		
		.fa {
			// Not all icons are the same width and they indent the text differently so align center
			min-width: 16px;
			text-align: center;
		}

		&:hover {
			color: $black-hover;
			cursor: pointer;
		}

		&.active {
			font-weight: bold;
		}

		&:last-child {
			border-bottom: 0;
		}

		&:last-child .btn {
			margin-top: $cosy;
			width: 100%;

			.fa {
				color: $grey-hover;
			}
		}
	}
}

.btn {
	cursor: pointer;
	border-radius: 1px 1px 0 0;
	border: 0;
	background-color: $cloudy-white;
    border-bottom: 2px solid $silver;
    color: $black;

	&:hover {
		background-color: $silver;
		color: $black-hover;
		border-bottom: 2px solid $black;
	}

	&.btn-success {
		border-bottom: 2px solid $green-hover;
		background-color: $green;
		color: $white;

		&:hover {
			background-color: $green-hover;
			border-bottom: 2px solid $black;
		}
	}

	&.btn-warning {
		background-color: $orange;
		color: $white;
		border-bottom: 2px solid $orange-hover;

		&:hover {
			background-color: $orange-hover;
			border-bottom: 2px solid $black;
		}
	}

	&.btn-danger {
		background-color: $red;
		color: $white;
		border-bottom: 2px solid $red-hover;

		&:hover {
			color: $white;
			background-color: $red-hover;
			border-bottom: 2px solid $black;
		}
	}

	&.btn-info {
		background-color: $blue;
		color: $grey-hover !important;
		font-size: $comfortable;
		border-bottom: 2px solid $blue-hover;

		&:hover {
			background-color: $blue-hover;
			border-bottom: 2px solid $black;
		}
	}
}

a.btn {
	&:hover {
		border-bottom: 2px solid $blue-hover;
	}
}

.form-control, .input-group-addon, .custom-file-input, .custom-file-control, .custom-file-control::before {
	border-radius: 1px 1px 0 0;
	border: 1px solid $silver;
	border-bottom: 2px solid $silver;
	resize: none;

	&:focus {
		border: 1px solid $blue;
		border-bottom: 2px solid $blue-hover;
	}
}

.form-group {
	.input-group {
		& > .form-control:first-child {
			border-right: 0;
		}

		.input-group-btn .btn {
			padding-top: 9px;
			padding-bottom: 9px;
		}
	}
}

// Main content section shown to the right of nested sidebar
section {
	// Last section should expand to the rest of the screen
	&:last-of-type {
		flex-grow: 1;
	}

	.top-nav {
		border-bottom: 1px solid $silver;
		padding: 7px $standard 9px $standard;
		top: 0;
		background: $white;
		position: sticky;
		position: -webkit-sticky;
		z-index: 1;

		> .fa, h4 {
			display: inline;
			color: $black;
		}

		> .fa {
			font-size: $h4;
			padding-right: $compact;
		}
		
		> p {
			display: inline;
			margin: 0;
			margin-left: $comfortable;
			vertical-align: middle;
			font-weight: 600;
		}

		> .form-group {
			width: 150px;
			display: inline-block;
			margin: 0;
			margin-left: 5px;

			.dropdown-toggle {
				padding: 4px 28px 4px 8px;
			}
		}

		.input-group.search-field {
			height: 30px;
			max-width: 250px;

			input {
				padding: $compact 12px;
			}
		}

		&.with-content {
			button {
				margin: 0;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	.main-content {
		padding: $comfortable;
	}
}

.table.data {
	th:first-child, td:first-child {
		text-align: right;
	}
	td:first-child {
		@extend code;
	}
	&.compact td:first-child {
		padding-right: 8px;
	}
}

#list-view {
	border-right: 1px solid #bdc3c7;
	flex-shrink: 0;
	
	.table {
		@extend .table.data;
	}
}

#single-view .top-nav {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	text-align: center;
	padding-bottom: 0;
}

.splash-screen {
	display: flex;
	align-items: center;
	height: 50%;
	justify-content: center;
	flex-direction: column;
	color: $black;

	p {
		color: $grey;
		margin-bottom: 20px;
	}

	.btn {
		width: 250px;
	}
}

label {
	color: black;
	font-weight: 600;

	&.required {
		&::after {
			content: "*";
			color: $red;
			padding-left: $thin;
		}
	}
}

.help-text {
	color: $grey;
	font-size: 10px;
	display: inline-block;
}

.custom-checkbox {
	display: block;

	.custom-control-description {
		display: block;
		width: 100%;
	}
}

.bootstrap-select {
	width: 100% !important;

	& > button {
		background-color: $white;
		border: 1px solid rgba(0, 0, 0, .15);
	}

	.bs-searchbox {
		padding-top: 0;
		padding-bottom: 8px;
	}

	.dropdown-toggle {
		border: 1px solid $silver;
		border-bottom: 2px solid $silver;
		border-radius: 1px 1px 0 0;

		&:hover {
			background-color: initial;
		}

		&.is-valid {
			border-color: $green;

			&:focus {
				box-shadow: 0 0 0 .2rem $green-highlight;
			}
		}

		&.is-invalid {
			border-color: $red;

			&:focus {
				box-shadow: 0 0 0 .2rem $red-highlight;
			}
		}

		.filter-option {
			color: $black;
		}
	}

	.dropdown-menu {
		.active, .selected, .dropdown-item:active, .dropdown-item:focus {
			background-color: $blue;
			color: $white;

			&:hover {
				background-color: $blue-hover;
				color: $cloudy-white;
			}
		}

		.no-results {
			cursor: pointer;
		}
	}
}

.breaker {
	border-bottom: 1px solid #ecf0f1;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
}

#accordion {
	.card {
		border: 1px solid $silver;
		border-radius: 0;
		margin-bottom: $comfortable;

		&:first-child {
			.card-header {
				i {
					&.fa-chevron-up, &.fa-chevron-down {
						right: 15px;
					}
				}
			}
		}

		.card-header {
			border: none;
			border-radius: 0;
			background-color: $cloudy-white;
			padding-left: 15px;
			border-bottom: 1px solid $silver;
			cursor: pointer;

			&.highlight {
				background-color: $highlight;
			}

			&.red-highlight {
				background-color: $red-highlight;
			}
			
			&.green-highlight {
				background-color: $green-highlight;
			}

			h5 {
				font-size: 16px;
			}

			a {
				color: $black;
			}

			i {
				position: absolute;
				right: 15px;
				cursor: pointer;

				&.fa-chevron-up, &.fa-chevron-down {
					right: 40px;
				}

				&.fa-trash-o {
					right: 15px;
				}
			}
		}

		.card-block {
			padding: $comfortable;
			max-height: 550px;
			overflow-y: scroll;
			-webkit-box-shadow: inset 0 -6px 10px -8px rgba(0,0,0,0.75);
			-moz-box-shadow: inset 0 -6px 10px -8px rgba(0,0,0,0.75);
			box-shadow: inset 0 -6px 10px -8px rgba(0,0,0,0.75);
		}
	}
}

.table {
	&.compact {
		th, td {
			padding: $cosy;
			font-size: 14px;

			&:first-child {
				padding-left: 15px;
			}

			&:last-child {
				padding-left: 0;
				padding-right: 15px;
			}
		}

		td {
			padding: $compact;
		}
	}

	th:first-child, td:first-child {
		padding-left: 20px;
	}

	th:last-child, td:last-child {
		padding-right: 20px;
	}

	thead {
		background-color: $cloudy-white;

		th {
			border-bottom: 2px solid $silver;
			border-top: none;
			color: $black;
			cursor: pointer;

			&:hover {
				color: $black-hover;
			}
		}
	}

	tbody {
		tr {
			cursor: pointer;

			&:hover {
				background-color: $cloudy-white;

				td:last-child i {
					opacity: 1;
				}
			}

			&.highlight {
				background-color: $highlight;
				cursor: initial;

				&:hover {
					background-color: $highlight-hover;

					td:last-child i {
						opacity: 0;
					}
				}
			}

			td {
				&.truncate {
					max-width: 90px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				&:last-child {
					width: 0;

					i {
						opacity: 0;
					}
				}
			}
		}
	}
}

.table.table-blue {
	thead {
		background-color: $blue;

		th {
			border-bottom: 2px solid $dark-blue;
			color: $cloudy-white;

			&:hover {
				color: $white;
			}
		}
	}
}

.row.tables {
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;

	> div {
		flex-grow: 1;
		padding: 0 $comfortable;
		flex-basis: 280px;
	}
}

.row-hidden {
	line-height: 0;
}

.block-hidden {
	height: 0;
	opacity: 0;

	&:not(#table-section) {
		overflow: hidden;
	}
}

.modal {
	background-color: rgba(44, 62, 80, 0.25);

	textarea {
		min-height: 150px;
	}
	
	.modal-content {
		border-radius: 0;
		border: 0;
		border-bottom: 2px solid $silver;

		.modal-header {
			padding: 10px 15px;
			color: $black;

			.modal-title {
				font-size: 25px;
			}

			.close {
				cursor: pointer;
				position: absolute;
				right: 15px;
			}
		}
	}

	&.fade.show {
		overflow: auto; // resolve scrolling bug when closing one of multiple shown modals
	}
}

.problem-type-picker {
	width: 100%;
	height: 160px;
	display: flex;
	border: 1px solid $silver;

	& * {
		transition: none;
	}

	&.problem-type-checkboxes {
		.type-columns {
			.type-column {
				li {
					&.no-children {
						cursor: initial !important;

						&:hover {
							background-color: $white !important;
							color: $black !important;
						}

						.fa-caret-right {
							display: none;
						}
					}

					&:hover:not(.no-children), &.last-active:not(.no-children) {
						.specialism-checkbox {
							border: 2px solid $white;
						}
					}
				}
			}
		}
	}

	.type-columns {
		display: flex;
		flex: 2;
		flex-wrap: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-box-shadow: inset 0 -6px 10px -8px rgba(0,0,0,0.75);
		-moz-box-shadow: inset 0 -6px 10px -8px rgba(0,0,0,0.75);
		box-shadow: inset 0 -6px 10px -8px rgba(0,0,0,0.75);

		.type-column {
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 225px;
			border-right: 1px solid $silver;
			list-style: none;
			overflow-y: auto;

			li {
				padding: 0 $cosy;
				position: relative;
				cursor: pointer;

				&.active {
					background-color: $cloudy-white;
				}

				
				&:hover {
					background-color: $blue-hover;
					color: $white;
					cursor: pointer;
				}


				&.last-active {
					background-color: $blue !important;
					color: $white;
					cursor: initial !important;
				}

				&.no-children {
					.fa-caret-right {
						display: none;
					}
				}

				.specialist-counter {
					position: absolute;
					right: 20px;
					top: 0;

					.fa-user-times {
						margin-right: -5px;
					}
				}

				.fa-caret-right {
					position: absolute;
					right: 5px;
					top: 4px;
				}

				.specialism-checkbox {
					width: 15px;
					height: 15px;
					border: 2px solid $black;
					margin-top: $compact;
					cursor: pointer;

					i {
						position: absolute;
						right: 10px;
						top: 6px;
						font-size: 11px;

						&.fa-times {
							display: none;
						}
					}
				}
			}

			.input-group {
				padding: $cosy;
				z-index: 0;

				input {
					padding: $thin $cosy;
				}

				button {
					width: 30px;
					height: 30px;
					padding-top: $compact;
				}
			}
		}
	}
}

.specialism-picker.disabled {
	> label:first-of-type::after {
		content: "Requires Operator permission";
		display: inline-block;
		color: grey;
		margin-left: 16px;
		font-weight: normal;
	}
	
	> div {
		filter: grayscale(100%);
		opacity: .5;
		pointer-events: none;
	}
}

span.subtle {
	color: $grey;
}

span.filter {
	display: inline-block; // don't break on wrap
	padding: $compact $cosy;
	background-color: $blue;
	border-radius: $thin;
	border: 0;
	color: $white;
	font-weight: 600;
	font-size: $comfortable;

	table & {
		padding: 1px $cosy;
		margin: -$compact 0;
	}
	
	&.filter-green, &.filter-resolved {
		background-color: $green;
	}

	&.filter-pending {
		background-color: $orange;
	}
}

.alert-notification {
	position: fixed;
	top: 1em;
	left: 50%;
	transform: translateX(-50%);
	z-index: 99;
    border-radius: 2px;
	-webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
	cursor: pointer;

	&.alert-danger {
	    border-color: rgba(114, 28, 36, 0.4);
	}

	&.alert-warning {
		border-color: rgba(133, 100, 4, 0.4);
	}
}

.invalid-feedback {
	display: block;
	font-size: .875rem;
	color: #dc3545;
}

.form-check-input:only-child {
	position: absolute;
	margin-top: 6px;
	height: 14px;
}

@import "animate";
@import "responsive";
