{% extends "backend/views/layouts/page.twig" %}

{% block main %}
	<div class="row">
		<div class="col-xs-9">
			<div class="mit-panel call-panel">
				<div class="row no-padding">
					<div class="col-xs-8">
						<div class="mit-panel-heading">
							<h2>Call Information</h2>
							<p>Enter some information about the call to get started:</p>
						</div>
						<div class="mit-panel-body negative-margin">
							<div class="row mit-field-group">
								<div class="col-xs-3">
									<p class="label">
										Caller <span class="required">*</span>
									</p>

									<p class="details">
										Lorem ipsum dolor sit amet dolar.
									</p>
								</div>
								<div class="col-xs-9">
									<select>
										<option value="1">Andy Hinnigan</option>
										<option value="2">Aron Bettison</option>
										<option value="3">Daniel White</option>
										<option value="4">Ghassan Nabeel</option>
										<option value="5">Toby Mellor</option>
									</select>
								</div>
							</div>
							<div class="row mit-field-group">
								<div class="col-xs-3">
									<p class="label">
										Date of call <span class="required">*</span>
									</p>

									<p class="details">
										Lorem ipsum dolor sit amet dolar.
									</p>
								</div>
								<div class="col-xs-9 has-button">
									<div class="date-time-picker">
										<span></span>
										<span>/</span>
										<span></span>
										<span>/</span>
										<span></span>
										<span></span>
										<span></span>
										<span>:</span>
										<span></span>
										<span>:</span>
										<span></span>
									</div>
									<a class="button button-primary pull-right mit-picker" href="javascript:void(0);">
										Choose a time
										<input type="text">
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="mit-panel-heading">
							<div>
								<h2>Caller Information</h2>
								<p id="no-caller">Please select a caller.</p>
							</div>

							<div class="staff-information">
								<p>
									ID Number: <strong>1</strong>
								</p>
								<p>
									Name: <strong>Dana Gibson</strong>
								</p>
								<p>
									Job: <strong>Executive Officer</strong>
								</p>
								<p>
									Department: <strong>Computer Science</strong>
								</p>
								<p>
									Phone: <strong>(686) 917-4585</strong>
								</p>
								<p>
									<strong>
										<span>
											<i class="fa fa-eye"></i>
											<span>Read</span>
										</span>
										<span>
											<i class="fa fa-user-secret"></i>
											<span>Operator</span>
										</span>
										<span>
											<i class="fa fa-line-chart"></i>
											<span>Analyst</span>
										</span>
									</strong>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="accordions">
				<div class="accordion-handle row">
					<div class="accordion-icon col-xs-3">
						<div class="number-circle">1</div>
					</div>
					<div class="accordion-title col-xs-9">
						Section 1
					</div>
				</div>
				<div class="accordion-body">
					<div class="row mit-field-group">
						<div class="col-xs-3">
							<p class="label">
								Status <span class="required">*</span>
							</p>

							<p class="details">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							</p>
						</div>
						<div class="col-xs-9 has-button">
							<div>
								<select>
									<option disabled>Select a status here...</option>
									<option value="new">New</option>
									<option value="pending_-_awaiting_parts">Pending - Awaiting Parts</option>
									<option value="resolved">Resolved</option>
								</select>
							</div>
							<div>
								<span class="filter filter-new">
									New
									<i class="fa fa-times"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="row mit-field-group">
						<div class="col-xs-3">
							<p class="label">
								Title <span class="required">*</span>
							</p>

							<p class="details">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							</p>
						</div>
						<div class="col-xs-9">
							<input name="post_title" spellcheck="true" autocomplete="off" type="text" placeholder="Enter ticket title here">
						</div>
					</div>
					<div class="row mit-field-group">
						<div class="col-xs-3">
							<p class="label">
								Description <span class="required">*</span>
							</p>

							<p class="details">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							</p>
						</div>
						<div class="col-xs-9">
							{{ description_editor }}
						</div>
					</div>
					<br class="clear">
				</div>

				<div class="accordion-handle">
					<div class="accordion-icon">
						<div class="number-circle">2</div>
					</div>
					<div class="accordion-title">
						Section 2
					</div>
				</div>
				<div class="accordion-body">
					<div id="titlediv">
						<div id="titlewrap">
							<input name="post_title" id="title" spellcheck="true" autocomplete="off" type="text" placeholder="Enter ticket title here">
						</div>
					</div>
					{{ description_editor }}
					<br class="clear">
				</div>
			</div>
		</div>
		<div class="col-xs-3">
			Helpful information about tickets will go here...
		</div>
	</div>

	<div class="new-tickets-container">
		<div class="caller-section">
			<div class="caller-left">
				<h2>
					Caller <span id="red">*</span>
				<h2>
				<select onchange="alert('TODO: Load in staff info')">
					<option value="none">Select Caller</option>
					<option value="ID_HERE">ID HERE - John Smith</option>
				</select>

				<h2>
					Date of Call <span id="red">*</span>
				</h2>
				<input type="text" name="current_date" value="{{ "now"|date('d/m/y h:i A') }}">
			</div>
			<div class="caller-right">
				<div class="caller-information">
					<h2>Caller Information</h2>
					<div class="caller"></div>
				</div>
			</div>
		</div>
		<div class="ticket-details-section">
			<div class="form-wrapper">
				<div class="ticket-nav">
					<div class="min-button" onclick="minimise(this)">
						<i class="fas fa-angle-down"></i>
					</div>
				</div>
				<form class="ticket-form">
					<div class="ticket-form-top">
						<div class="ticket-form-left">
							<h2>
								Status <span id="red">*</span>
							</h2>
							<select id="status-select">
								<option value="Status ID 1">Status Name</option>
							</select>

							<h2>
								Ticket Title<span id="red">*</span>
							</h2>
							<input type="text">
						</div>
						<div class="ticket-form-right">
							<h2>Assigned To<span id="red">*</span></h2>
							<input type="text" value="Mr Tickets" readonly>
							<div class="assign-options">
								<input type="radio" class="spec-assign" name="assign" id="assign1" value="assign_self">
								<label for="assign1">Assign to myself</label>

								<input type="radio" class="spec-assign" name="assign" id="assign2" value="assign_op">
								<label for="assign2">Assign to another Operator</label>

								<input type="radio" class="spec-assign" name="assign" id="assign3" value="assign_spec">
								<label for="assign3">Assign to Specialist of Problem Type</label>
							</div>
						</div>
					</div>
					<h2>
						Ticket Description <span id="red">*</span>
					</h2>
					<textarea class="ticket-dec"></textarea>

					<h2>
						Problem Type <span id="red">*</span>
					</h2>
					<div class="problem-selection">
						<div class="ticket-ptype">TODO</div>
					</div>
				</form>
			</div>
		</div>
		<button class="add-form-button" onclick="addTicketForm()">Add additional ticket</button>
	</div>
{% endblock %}