.metrics_wrapper{

	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	
}
.metrics_row {
	display: flex;
	flex-direction: row;
	width: 90%;
	margin-top: 20px;
}
.metrics_row canvas {
	width: 100%;
	height: 100%;
}
.metrics_header{
	font-size: 24px;
	display: block;
	padding: 5px 5px;
	
}
.met_sec{
	display: flex;
	flex-direction: column;
	padding: 10px 10px;
}
.met_sec_title{
	text-align: center;
	
}
.met_sec input {
	text-align: center;
}