//
// Column Breakpoints
//

$breakpoint-xs: 767px;

@media (max-width: $breakpoint-xs) {
	.mia-panel .mia-panel-body .accordion-body, .mia-panel.call-panel #call-information .mia-panel-body {
		> .mia-field-group {
			&:first-child > div:first-child {
				border-top: 0;
			}

			> div {
				border-bottom: 0;

				&:first-child {
					border-right: 0;
					border-top: 1px solid $silver;
					border-bottom: 1px solid $silver;
					border-left: 2px solid $blue-hover;
				}
			}
		}
	}
	
	.mia-panel {
		.mia-panel-heading {
			.col-sm-9 {
				select {
					width: 100%;
					margin: 12px 0 0 0;
				}
			}
		}
	}

	.mia-panel-footer {
		border-top: 1px solid $silver;
	}

	.call-panel .details {
		max-width: initial;
	}

	.assign-options {
		display: block;
		max-height: 180px;

		> div:first-child {
			width: 100%;

			label {
				margin-right: 16px;
				margin-bottom: 0;
				margin-top: 2px;
				display: inline-block;
			}

			select {
				margin-top: 10px;
				width: 50%;
   				display: block;
			}
		}

		> div:last-child {
			border-top: 1px solid #e5e5e5;
			border-left: 0;
		}
	}
}

//
// Specific Breakpoints
//

@media (max-width: 1219px) {
	#caller-information.expanded {
		height: 285px;
	}

	.mia-panel-heading {
		img {
			display: none;
		}
	}
}

@media (max-width: 1198px) {
	.call-panel {
		> .row #caller-information {
			border-left: 0;

			&.expanded {
				flex-basis: 100%;
				border-top: 1px solid $silver;
				transition: none;
				height: 100%;
			}
		}

		.mia-field-group {
			.col-xs-5 {
				flex-basis: 25%;
				min-width: 25%;
			}

			.col-xs-7 {
				flex-basis: 75%;
				min-width: 75%;
			}
		}
	}
}

@media (max-width: 782px) {
	.mia-panel {
		.mia-picker {
			height: 31px !important;
		}

		.mia-panel-footer {
			.mia-button-group {
				display: block;

				&:first-child {
					margin-bottom: 20px;
				}

				&.pull-right {
					float: initial;
				}

				a {
					display: block;
					float: right;
				}
			}
		}
	}

	.wp-list-table tr:not(.inline-edit-row):not(.no-items) td:not(.check-column) {
		display: table-cell;
	}
}

@media (max-width: 549px) {
	.mia-panel {
		.mia-panel-body {
			.has-button {
				display: block;

				& > div:last-child {
					display: flex;

					.filter {
						margin: 0 auto;
						margin-top: 17px;
					}
				}
			}
		}

		.mia-picker {
			margin-top: 12px;
		}
	}
}