@import "../main.scss";

.call-panel {
	& > .row {
		& > div {
			transition: all .5s ease;
		}

		#call-information {
			flex-grow: 1;
			height: 100%;
		}

		#caller-information {
			flex-basis: 0;
			max-height: 0;
			overflow: hidden;

			&.expanded {
				flex-basis: 40%;
				max-height: initial;
			}

			.mia-panel-heading {
				min-width: 210px;
				display: flex;
				flex-direction: column;
			}
		}

		.col-xs-0 {
			max-width: 0%;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
		}
	}

	.details {
		max-width: 160px;
	}

	.invalid-feedback {
		margin-top: 12px;
	}
}

.staff-information {
	margin: 16px -16px -16px -16px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	.mia-field-group {
		& > div {
			padding: 8px 12px;
			min-height: auto;
		}

		.label {
			margin-top: 5px;
		}

		.mia-permissions {
			line-height: 16px;
		}

		&:last-child {
			flex-grow: 1;
		}
	}
}

.mia-field-group {
	.filter {
		margin-top: 1px;
		margin-right: 3px;
		margin-left: 15px;
		float: right;
		cursor: pointer;
	}

	.mia-permissions {
		overflow-x: auto;
		background-color: #eeeeee;
		border: 1px solid #ddd;
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
		padding: 6px 8px;
		min-height: 16px;

		strong {
			white-space: nowrap;

			span {
				margin-right: 4px;
			}
		}
	}
}

.assign-options {
	display: flex;
	max-height: 170px;
	margin: -12px;

	& > div {
		padding: 12px;

		&:first-child {
			width: 214px;

			select {
				margin-top: 6px;
				display: none;
			}
		}

		&:last-child {
			flex-grow: 1;
			padding-left: 12px;
			border-left: 1px solid $silver;
			height: 145px;
			overflow: auto;
		}
	}

	label {
		display: block;
		margin-bottom: 8px;
		font-weight: 600;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.assigned-to-details {
		margin: -12px;
		overflow: scroll;

		.mia-field-group {
			p {
				margin-top: 5px;
				min-width: 75px;
			}

			& > div {
				padding: 8px 12px;
				overflow-x: auto;
				min-height: auto;
			}

			&:last-child > div {
				border-bottom: none;
			}
		}
	}
}

.mia-panel {
	&.call-panel > .row {
		flex-wrap: nowrap;

		& > div:last-child {
			border-left: 1px solid $silver;
		}

		.mia-panel-heading {
			height: 100%;

			.staff-information {
				height: 100%;
			}
		}

		#caller-information {
			.mia-field-group:last-child {
				height: 100%;
			}
		}
	}
}

.accordions {
	.set-solution {
		display: none;
	}

	&.view-accordion {
		.description {
			font-size: 15px;
			padding: 0 24px;
			border-left: 3px solid $blue-hover;

			p {
				font-size: 15px;
			}

			* {
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			}
		}

		.breadcrumb { 
			margin-top: 15px;
			margin-left: 25px;

			li {
				display: inline;

				&:last-child {
					a {
						font-weight: 500;
					}

					i {
						display: none;
					}
				}

				a {
					color: $black;
					font-size: 20px;
					text-decoration: none;
					font-weight: 400;
					cursor: pointer;

					&:hover {
						color: $black-hover;
						text-decoration: underline;
					}
				}

				i {
					color: $blue-hover;
					margin: 0 10px;
					font-size: 18px;
				}
			}
		}

		select {
			display: none;
		}

		.affected-items {
			margin: 0;
		}

		.assign-options {
			max-height: initial;

			> div:last-child {
				height: initial;
			}
		}
	}
}

.viewing-ticket {
	table, .view-accordion {
		border: 1px solid $grey-hover;
	}

	table {
		border-bottom: none;
	}

	.view-accordion {
		border-top: none;
	}
}

#comments {
	margin-top: 18px;
	background-color: $white;
	padding-right: 40px;
	padding-left: 32px;
	border: 1px solid $grey-hover;

	.no-affected-items {
		margin-top: 27px;
		margin-bottom: 27px;
	}

	.comment {
		display: flex;
		margin-top: 22px;
		margin-bottom: 22px;
		min-height: 155px;
		
		&:hover {
			> div:first-child {
				i {
					display: block !important;
				}
			}
		}

		&.solution {
			background-color: $highlight;
			margin: 0 -40px 0 -32px;
			padding: 20px 40px 20px 32px;

			> div:first-child {
				i.toggle-solution {
					color: $green;

					&:hover {
						color: $green-hover !important;
					}
				}

				i.delete-comment, i.edit-comment {
					color: $black-hover;
				}
			}
		}

		> div:first-child {
			flex-basis: 50px;

			img {
				display: block;
				width: 65px;
				height: 65px;
				border-radius: 50%;
			}

			i {
				display: block;
				font-size: 40px;
				text-align: center;
				margin-top: 10px;
				color: $silver;
				cursor: pointer;

				&.delete-comment, &.edit-comment {
					font-size: 30px;
					display: none;
				}

				&:hover {
					color: $black !important;
				}
			}
		}

		> div:last-child {
			flex-grow: 1;

			> .row {
				margin-left: 18px;
			}

			.comment-header {
				line-height: 45px;

				a {
					text-decoration: none;
				}

				h1 {
					font-size: 22px;
					font-weight: 500;
					padding: 0;
					display: inline;
				}

				span.filter {
					float: none;
					line-height: initial;
					cursor: pointer;
				}

				p {
					float: right;
					font-weight: 100;
					color: $black-hover;
					font-size: 16px;
					margin: 0;
					line-height: 40px;
				}
			}

			.comment-body {
				border-top: 1px solid $grey;
				display: flex;

				p {
					font-size: 15px;
					text-align: justify;
					flex-grow: 1;
					margin-bottom: 5px;
				}

				> div {
					flex-basis: 95px;
				}
			}
		}
	}
}

.create-comment-section {
	margin-top: 18px;
	margin-right: 2px;
	background-color: $white;
	padding: 18px;
	display: flex;
	border: 1px solid $grey-hover;

	* {
		transition: width .4s, height .4s, flex-basis .4s;
	}

	> div:first-child {
		flex-basis: 50px;

		img {
			display: block;
			width: 46px;
			height: 46px;
			border-radius: 50%;
			margin-left: auto;
		}
	}

	> div:last-child {
		display: flex;
		flex-grow: 1;
		height: 45px;
	
		.small-comment-box {
			flex-grow: 1;
			padding-left: 14px;
			width: 100%;
			overflow: hidden;
			padding-right: 1px;

			input {
				width: 100%;
				border: 1px solid $silver;
				border-radius: 24px;
				padding: 12px;
			}
		}

		.big-comment-box {
			height: 0;
			width: 0;
			overflow: hidden;

			> div {
				margin-right: 2px;

				#send-comment {
					float: right;
					margin-top: 18px;
					height: auto;
					padding: 4px 35px;
					font-size: 15px;
				}
			}
		}
	}

	&.commenting {
		> div:first-child {
			flex-basis: 79px;

			img {
				width: 65px;
				height: 65px;
			}
		}

		> div:last-child {
			min-height: 270px;
		}

		.small-comment-box {
			width: 0 !important;
		}

		.big-comment-box {
			height: 100% !important;
			width: 100% !important;
			margin-left: 4px;
		}
	}
}

.no-affected-items {
	text-align: center;
	margin-top: 19px;
	color: $silver;
}

.follow-up-call-page {
	.accordion-handle:first-child {
		background-color: $orange;

		border-bottom: 2px solid $orange-hover;
	}
	
	#add-new-ticket {
		margin-left: 38px;
	}

	.mia-panel-footer {
		position: relative;

		.mia-button-group:last-child {
			display: block;
			margin-top: 12px;
		}

		.pull-right {
			bottom: 16px;
			position: absolute;
			right: 18px;
		}
	}
}


//
// Hardware/Software/OS
//

.affected-items {
	list-style: none;
	padding: 0;
	margin-top: 12px;
	margin-bottom: -4px;

	li {
		width: 152px;
		height: 115px;
		border: 1px solid $silver;
		border-bottom: 2px solid $silver;
		border-radius: 0;
		padding: 8px;
		text-align: center;
		display: inline-block;
		position: relative;
		overflow: hidden;
		background-color: $cloudy-white;
		margin: 0;

		h4 {
			color: $black;
			margin-bottom: 0;
			margin-top: 4px;
			line-height: 25px;
			display: block;
			text-overflow: ellipsis;
			word-wrap: break-word;
			overflow: hidden;
			max-height: 50px;
			font-size: 24px;

			a {
				color: $black;
				outline: none;
				box-shadow: none;

				&:hover {
					color: $black-hover;
				}
			}
		}

		p {
			color: $grey;
			font-size: 14px;
			max-width: 135px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin: 0 auto;
		}

		> a {
			position: absolute;
			bottom: 8px;
			left: calc(50% - 65px);
			width: 130px;
		}
	}
}

@import "ticket-media-queries.scss";