//
// Column Breakpoints
//

$breakpoint-xs: 767px;

@media (max-width: $breakpoint-xs) {
	.call-panel .details {
		max-width: initial;
	}
}

//
// Specific Breakpoints
//

@media (max-width: 1361px) {
	.call-panel {
		> .row #caller-information {
			border-left: 0;

			&.expanded {
				flex-basis: 100%;
				border-top: 1px solid $silver;
				transition: none;
				height: 100%;
			}
		}

		.mia-field-group {
			.col-xs-5 {
				flex-basis: 25%;
				min-width: 25%;
			}

			.col-xs-7 {
				flex-basis: 75%;
				min-width: 75%;
			}
		}
	}
}

@media (max-width: 1219px) {
	#caller-information.expanded {
		height: 285px;
	}

	.mia-panel-heading {
		img {
			display: none;
		}
	}
}

@media (max-width: 782px) {
	.mia-panel {
		.mia-picker {
			height: 31px !important;
		}

		.mia-panel-footer {
			.mia-button-group {
				display: block;

				&:first-child {
					margin-bottom: 20px;
				}

				&.pull-right {
					position: initial;
				}

				&.pull-right, .pull-right {
					float: initial;
				}

				#add-new-ticket {
					float: initial;
					display: initial;
				}
			}
		}
	}
}

@media (max-width: 549px) {
	.mia-panel {
		.mia-panel-body {
			.has-button {
				display: block;

				& > div:last-child {
					display: flex;

					.filter {
						margin: 0 auto;
						margin-top: 17px;
					}
				}
			}
		}

		.mia-picker {
			margin-top: 12px;
		}
	}

	.assign-options {
		flex-direction: column;
	}
}