{#
Main navigation partial for navigating between pages in the system
#}

<nav id="nav" class="side-nav-bar">
	{# Prominent logout button shown on all pages in upper-left #}
	<a href="/" class="btn btn-info">
		Logout
		<i class="fa fa-sign-out"></i>
	</a>
	{# Main navigation, with one button for each page, generated from page array #}
	<div class="side-nav-bar-menu">
		<ul>
			{# Create a navigation link for each page able to be navigated to #}
			{% for name, properties in pages %}
				{# Skip hidden pages which should not be navigable to from the main navigation #}
				{% if not properties.hide is defined %}
					{# If the current page is the link being added, show the link as active #}
					<li {% if name == activePage %} class="active" {% endif %}>
						{# Insert breaker line (thin line above link) to categorise links #}
						{% if properties.breaker is defined %}
							<div class="breaker"></div>
						{% endif %}

						{# Link to page with appropriate icon from array #}
						<a href="/{{ name }}">
							<i class="fa fa-{{ properties.icon }} fa-2x"></i>
							<p>{{ properties.name }}</p>
						</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</nav>
