{#
Footer partial to be inserted at the bottom of every page
Page does not have a visible footer, just loads JS for the page
JS is loaded in footer instead of head because Turbolinks manages execution
#}

{# Run specific page JS #}
<script src="{{ site.theme.link }}/js/pages/{{ activePage }}.js"></script>
<script>
	init({
		calls: [
			{
				"id":1,
				"time":"2017-10-13 10:00:51",
				"operator_id":1,
				"caller_id":2,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 10:22:21",
				"tickets":[
					1,
					8
				]
			},
			{
				"id":2,
				"time":"2017-08-10 10:20:23",
				"operator_id":1,
				"caller_id":2,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 10:22:21",
				"tickets":[
					1
				]
			},
			{
				"id":3,
				"time":"2017-12-02 10:35:14",
				"operator_id":1,
				"caller_id":3,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 10:22:21",
				"tickets":[
					1,
					2
				]
			},
			{
				"id":4,
				"time":"2017-12-29 11:15:54",
				"operator_id":1,
				"caller_id":6,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 10:22:21",
				"tickets":[
					2,
					9
				]
			},
			{
				"id":5,
				"time":"2017-11-25 11:55:13",
				"operator_id":1,
				"caller_id":5,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 10:22:21",
				"tickets":[
					3
				]
			},
			{
				"id":6,
				"time":"2018-01-02 13:25:32",
				"operator_id":1,
				"caller_id":10,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 10:22:21",
				"tickets":[
					4
				]
			},
			{
				"id":7,
				"time":"2018-01-23 14:12:43",
				"operator_id":1,
				"caller_id":10,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 10:22:21",
				"tickets":[
					5
				]
			},
			{
				"id":8,
				"time":"2018-02-01 16:59:35",
				"operator_id":2,
				"caller_id":3,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 10:22:21",
				"tickets":[
					6
				]
			},
			{
				"id":9,
				"time":"2018-02-13 13:54:21",
				"operator_id":2,
				"caller_id":3,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 10:22:21",
				"tickets":[
					7,
					3,
					5
				]
			},
			{
				"id":10,
				"time":"2018-01-21 09:13:23",
				"operator_id":3,
				"caller_id":10,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 10:22:21",
				"tickets":[

				]
			},
			{
				"id":11,
				"time":"2018-01-09 11:11:59",
				"operator_id":10,
				"caller_id":2,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 10:22:21",
				"tickets":[

				]
			},
			{
				"id":12,
				"time":"2018-02-21 11:12:00",
				"operator_id":1,
				"caller_id":5,
				"created_at":"2018-02-21 11:17:19",
				"updated_at":"2018-02-21 11:17:19",
				"tickets":[
					10
				]
			},
			{
				"id":13,
				"time":"2018-02-21 12:39:00",
				"operator_id":1,
				"caller_id":19,
				"created_at":"2018-02-21 12:42:01",
				"updated_at":"2018-02-21 12:42:01",
				"tickets":[
					11
				]
			}
		],
		tickets: [
			{
				"id":2,
				"title":"Cannot turn on computer",
				"description":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis nunc nec elit pretium efficitur. Vestibulum risus felis, aliquet mollis leo sit amet, efficitur consectetur tellus. Aliquam a mi rhoncus libero lobortis dictum quis ac urna. Phasellus sed lacus et massa varius pulvinar sed vitae eros. Quisque accumsan ullamcorper nulla, sit amet efficitur erat consequat scelerisque. Etiam malesuada dapibus metus sed pretium. Donec ut nibh in ligula aliquet fermentum id ut purus. Donec quam felis, imperdiet vitae porta ac, egestas eu augue. Phasellus vitae faucibus nunc. Ut eu lectus vitae massa ultricies mollis. Pellentesque a aliquet sapien.",
				"solution_id":4,
				"author_id":1,
				"assigned_to_operator_id":null,
				"expertise_type_staff_id":1,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 12:46:37",
				"calls":[
					4,
					3
				],
				"devices":[
					4
				],
				"programs":[
					4
				],
				"comments":[
					4,
					5,
					10,
					13
				],
				"status_history":[
					4,
					15
				],
				"expertise_type":[
					1
				],
				"status": 3,
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":11,
				"title":"QWERTY keys don't work",
				"description":"demo test",
				"solution_id":null,
				"author_id":1,
				"assigned_to_operator_id":null,
				"expertise_type_staff_id":3,
				"created_at":"2018-02-21 12:42:01",
				"updated_at":"2018-02-21 12:42:01",
				"calls":[
					13
				],
				"devices":[
					4
				],
				"programs":[

				],
				"comments":[

				],
				"status_history":[
					17
				],
				"expertise_type":[
					3
				],
				"status": 2,
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":10,
				"title":"Letter A not working",
				"description":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis nunc nec elit pretium efficitur. Vestibulum risus felis, aliquet mollis leo sit amet, efficitur consectetur tellus.",
				"solution_id":null,
				"author_id":1,
				"assigned_to_operator_id":null,
				"expertise_type_staff_id":3,
				"created_at":"2018-02-21 11:17:19",
				"updated_at":"2018-02-21 11:17:19",
				"calls":[
					12
				],
				"devices":[
					10
				],
				"programs":[

				],
				"comments":[

				],
				"status_history":[
					16
				],
				"expertise_type":[
					3
				],
				"status": 2,
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":9,
				"title":"Software isn't installed correctly",
				"description":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis nunc nec elit pretium efficitur. Vestibulum risus felis, aliquet mollis leo sit amet, efficitur consectetur tellus. Aliquam a mi rhoncus libero lobortis dictum quis ac urna. Phasellus sed lacus et massa varius pulvinar sed vitae eros. Quisque accumsan ullamcorper nulla, sit amet efficitur erat consequat scelerisque. Etiam malesuada dapibus metus sed pretium. Donec ut nibh in ligula aliquet fermentum id ut purus. Donec quam felis, imperdiet vitae porta ac, egestas eu augue. Phasellus vitae faucibus nunc. Ut eu lectus vitae massa ultricies mollis. Pellentesque a aliquet sapien.",
				"solution_id":null,
				"author_id":6,
				"assigned_to_operator_id":19,
				"expertise_type_staff_id":3,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 10:49:57",
				"calls":[
					4
				],
				"devices":[
					4
				],
				"programs":[

				],
				"comments":[

				],
				"status_history":[
					11
				],
				"expertise_type":[
					3
				],
				"status": 1,
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":4,
				"title":"Mouse doesn\u2019t work",
				"description":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis nunc nec elit pretium efficitur. Vestibulum risus felis, aliquet mollis leo sit amet, efficitur consectetur tellus. Aliquam a mi rhoncus libero lobortis dictum quis ac urna. Phasellus sed lacus et massa varius pulvinar sed vitae eros. Quisque accumsan ullamcorper nulla, sit amet efficitur erat consequat scelerisque. Etiam malesuada dapibus metus sed pretium. Donec ut nibh in ligula aliquet fermentum id ut purus. Donec quam felis, imperdiet vitae porta ac, egestas eu augue. Phasellus vitae faucibus nunc. Ut eu lectus vitae massa ultricies mollis. Pellentesque a aliquet sapien.",
				"solution_id":null,
				"author_id":3,
				"assigned_to_operator_id":3,
				"expertise_type_staff_id":4,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 10:43:00",
				"calls":[
					6
				],
				"devices":[
					4
				],
				"programs":[
					4
				],
				"comments":[
					7
				],
				"status_history":[
					6
				],
				"expertise_type":[
					4
				],
				"status": 1,
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":1,
				"title":"Printer run out of ink",
				"description":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis nunc nec elit pretium efficitur. Vestibulum risus felis, aliquet mollis leo sit amet, efficitur consectetur tellus. Aliquam a mi rhoncus libero lobortis dictum quis ac urna. Phasellus sed lacus et massa varius pulvinar sed vitae eros. Quisque accumsan ullamcorper nulla, sit amet efficitur erat consequat scelerisque. Etiam malesuada dapibus metus sed pretium. Donec ut nibh in ligula aliquet fermentum id ut purus. Donec quam felis, imperdiet vitae porta ac, egestas eu augue. Phasellus vitae faucibus nunc. Ut eu lectus vitae massa ultricies mollis. Pellentesque a aliquet sapien.",
				"solution_id":null,
				"author_id":1,
				"assigned_to_operator_id":null,
				"expertise_type_staff_id":3,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 10:42:42",
				"calls":[
					1,
					2,
					3
				],
				"devices":[
					1,
					2
				],
				"programs":[
					1,
					2
				],
				"comments":[
					1,
					2,
					3,
					12
				],
				"status_history":[
					1,
					2,
					3
				],
				"expertise_type":[
					3
				],
				"status": 1,
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":3,
				"title":"Cannot turn on printer",
				"description":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis nunc nec elit pretium efficitur. Vestibulum risus felis, aliquet mollis leo sit amet, efficitur consectetur tellus. Aliquam a mi rhoncus libero lobortis dictum quis ac urna. Phasellus sed lacus et massa varius pulvinar sed vitae eros. Quisque accumsan ullamcorper nulla, sit amet efficitur erat consequat scelerisque. Etiam malesuada dapibus metus sed pretium. Donec ut nibh in ligula aliquet fermentum id ut purus. Donec quam felis, imperdiet vitae porta ac, egestas eu augue. Phasellus vitae faucibus nunc. Ut eu lectus vitae massa ultricies mollis. Pellentesque a aliquet sapien.",
				"solution_id":null,
				"author_id":1,
				"assigned_to_operator_id":1,
				"expertise_type_staff_id":3,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 10:22:21",
				"calls":[
					5,
					9
				],
				"devices":[
					3,
					6,
					6
				],
				"programs":[
					3,
					6,
					6
				],
				"comments":[
					6
				],
				"status_history":[
					5,
					12
				],
				"expertise_type":[
					3
				],
				"status":3,
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":5,
				"title":"Keyboard doesn\u2019t work",
				"description":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis nunc nec elit pretium efficitur. Vestibulum risus felis, aliquet mollis leo sit amet, efficitur consectetur tellus. Aliquam a mi rhoncus libero lobortis dictum quis ac urna. Phasellus sed lacus et massa varius pulvinar sed vitae eros. Quisque accumsan ullamcorper nulla, sit amet efficitur erat consequat scelerisque. Etiam malesuada dapibus metus sed pretium. Donec ut nibh in ligula aliquet fermentum id ut purus. Donec quam felis, imperdiet vitae porta ac, egestas eu augue. Phasellus vitae faucibus nunc. Ut eu lectus vitae massa ultricies mollis. Pellentesque a aliquet sapien.",
				"solution_id":4,
				"author_id":4,
				"assigned_to_operator_id":3,
				"expertise_type_staff_id":15,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 10:22:21",
				"calls":[
					7,
					9
				],
				"devices":[
					2
				],
				"programs":[
					2
				],
				"comments":[
					8,
					14,
					15,
					16,
					17,
					18
				],
				"status_history":[
					7,
					14
				],
				"expertise_type":[
					36
				],
				"status": 2,
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":6,
				"title":"Monitor buttons are loose",
				"description":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis nunc nec elit pretium efficitur. Vestibulum risus felis, aliquet mollis leo sit amet, efficitur consectetur tellus. Aliquam a mi rhoncus libero lobortis dictum quis ac urna. Phasellus sed lacus et massa varius pulvinar sed vitae eros. Quisque accumsan ullamcorper nulla, sit amet efficitur erat consequat scelerisque. Etiam malesuada dapibus metus sed pretium. Donec ut nibh in ligula aliquet fermentum id ut purus. Donec quam felis, imperdiet vitae porta ac, egestas eu augue. Phasellus vitae faucibus nunc. Ut eu lectus vitae massa ultricies mollis. Pellentesque a aliquet sapien.",
				"solution_id":null,
				"author_id":5,
				"assigned_to_operator_id":null,
				"expertise_type_staff_id":6,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 10:22:21",
				"calls":[
					8
				],
				"devices":[
					1
				],
				"programs":[
					1
				],
				"comments":[
					9
				],
				"status_history":[
					8
				],
				"expertise_type":[
					31
				],
				"status": 1,
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":7,
				"title":"Keyboard is missing some keys",
				"description":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis nunc nec elit pretium efficitur. Vestibulum risus felis, aliquet mollis leo sit amet, efficitur consectetur tellus. Aliquam a mi rhoncus libero lobortis dictum quis ac urna. Phasellus sed lacus et massa varius pulvinar sed vitae eros. Quisque accumsan ullamcorper nulla, sit amet efficitur erat consequat scelerisque. Etiam malesuada dapibus metus sed pretium. Donec ut nibh in ligula aliquet fermentum id ut purus. Donec quam felis, imperdiet vitae porta ac, egestas eu augue. Phasellus vitae faucibus nunc. Ut eu lectus vitae massa ultricies mollis. Pellentesque a aliquet sapien.",
				"solution_id":10,
				"author_id":1,
				"assigned_to_operator_id":null,
				"expertise_type_staff_id":10,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 10:22:21",
				"calls":[
					9
				],
				"devices":[
					6
				],
				"programs":[

				],
				"comments":[
					11
				],
				"status_history":[
					9,
					13
				],
				"expertise_type":[
					37
				],
				"status": 2,
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":8,
				"title":"Virus has been detected",
				"description":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis nunc nec elit pretium efficitur. Vestibulum risus felis, aliquet mollis leo sit amet, efficitur consectetur tellus. Aliquam a mi rhoncus libero lobortis dictum quis ac urna. Phasellus sed lacus et massa varius pulvinar sed vitae eros. Quisque accumsan ullamcorper nulla, sit amet efficitur erat consequat scelerisque. Etiam malesuada dapibus metus sed pretium. Donec ut nibh in ligula aliquet fermentum id ut purus. Donec quam felis, imperdiet vitae porta ac, egestas eu augue. Phasellus vitae faucibus nunc. Ut eu lectus vitae massa ultricies mollis. Pellentesque a aliquet sapien.",
				"solution_id":null,
				"author_id":2,
				"assigned_to_operator_id":null,
				"expertise_type_staff_id":14,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 10:22:21",
				"calls":[
					1
				],
				"devices":[
					1
				],
				"programs":[

				],
				"comments":[

				],
				"status_history":[
					10
				],
				"expertise_type":[
					21
				],
				"status": 1,
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			}
		],
		statuses: [
			{
				"id":1,
				"slug":"new",
				"name":"New",
				"tickets":[
					1,
					4,
					6,
					8,
					9
				]
			},
			{
				"id":2,
				"slug":"pending_in_progress",
				"name":"Pending - In Progress",
				"tickets":[
					7,
					5,
					10,
					11
				]
			},
			{
				"id":3,
				"slug":"resolved",
				"name":"Resolved",
				"tickets":[
					3,
					2
				]
			}
		],
		comments: [
			{
				"id":1,
				"author":1,
				"call":null,
				"ticket":1,
				"content":"Donec volutpat vestibulum ipsum id consectetur. Ut semper dui eget pulvinar pretium. Ut ut elit tellus. Maecenas et urna tincidunt, semper urna ac, consectetur nunc. Nulla in finibus odio. Fusce bibendum eros in dui rutrum, sit amet gravida leo varius. Nulla mattis, leo eu laoreet mattis, nisi sapien rutrum ante, id imperdiet ligula neque eu neque.",
				"created_at":"2 weeks ago",
				"created_at_real":"2018-02-14 20:46:55"
			},
			{
				"id":2,
				"author":3,
				"call":null,
				"ticket":1,
				"content":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis nunc nec elit pretium efficitur. Vestibulum risus felis, aliquet mollis leo sit amet, efficitur consectetur tellus. Aliquam a mi rhoncus libero lobortis dictum quis ac urna. Phasellus sed lacus et massa varius pulvinar sed vitae eros. Quisque accumsan ullamcorper nulla, sit amet efficitur erat consequat scelerisque. Etiam malesuada dapibus metus sed pretium. Donec ut nibh in ligula aliquet fermentum id ut purus. Donec quam felis, imperdiet vitae porta ac, egestas eu augue. Phasellus vitae faucibus nunc. Ut eu lectus vitae massa ultricies mollis. Pellentesque a aliquet sapien.",
				"created_at":"3 weeks ago",
				"created_at_real":"2018-02-06 05:26:37"
			},
			{
				"id":3,
				"author":5,
				"call":null,
				"ticket":1,
				"content":"Donec volutpat vestibulum ipsum id consectetur. Ut semper dui eget pulvinar pretium. Ut ut elit tellus. Maecenas et urna tincidunt, semper urna ac, consectetur nunc. Nulla in finibus odio. Fusce bibendum eros in dui rutrum, sit amet gravida leo varius. Nulla mattis, leo eu laoreet mattis, nisi sapien rutrum ante, id imperdiet ligula neque eu neque.",
				"created_at":"2 weeks ago",
				"created_at_real":"2018-02-10 05:50:52"
			},
			{
				"id":4,
				"author":1,
				"call":null,
				"ticket":2,
				"content":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis nunc nec elit pretium efficitur. Vestibulum risus felis, aliquet mollis leo sit amet, efficitur consectetur tellus. Aliquam a mi rhoncus libero lobortis dictum quis ac urna. Phasellus sed lacus et massa varius pulvinar sed vitae eros. Quisque accumsan ullamcorper nulla, sit amet efficitur erat consequat scelerisque. Etiam malesuada dapibus metus sed pretium. Donec ut nibh in ligula aliquet fermentum id ut purus. Donec quam felis, imperdiet vitae porta ac, egestas eu augue. Phasellus vitae faucibus nunc. Ut eu lectus vitae massa ultricies mollis. Pellentesque a aliquet sapien.",
				"created_at":"1 week ago",
				"created_at_real":"2018-02-19 00:03:54"
			},
			{
				"id":5,
				"author":2,
				"call":null,
				"ticket":2,
				"content":"Donec volutpat vestibulum ipsum id consectetur. Ut semper dui eget pulvinar pretium. Ut ut elit tellus. Maecenas et urna tincidunt, semper urna ac, consectetur nunc. Nulla in finibus odio. Fusce bibendum eros in dui rutrum, sit amet gravida leo varius. Nulla mattis, leo eu laoreet mattis, nisi sapien rutrum ante, id imperdiet ligula neque eu neque.",
				"created_at":"3 weeks ago",
				"created_at_real":"2018-02-04 13:52:09"
			},
			{
				"id":6,
				"author":1,
				"call":null,
				"ticket":3,
				"content":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis nunc nec elit pretium efficitur. Vestibulum risus felis, aliquet mollis leo sit amet, efficitur consectetur tellus. Aliquam a mi rhoncus libero lobortis dictum quis ac urna. Phasellus sed lacus et massa varius pulvinar sed vitae eros. Quisque accumsan ullamcorper nulla, sit amet efficitur erat consequat scelerisque. Etiam malesuada dapibus metus sed pretium. Donec ut nibh in ligula aliquet fermentum id ut purus. Donec quam felis, imperdiet vitae porta ac, egestas eu augue. Phasellus vitae faucibus nunc. Ut eu lectus vitae massa ultricies mollis. Pellentesque a aliquet sapien.",
				"created_at":"2 weeks ago",
				"created_at_real":"2018-02-10 21:48:01"
			},
			{
				"id":7,
				"author":5,
				"call":null,
				"ticket":4,
				"content":"Donec volutpat vestibulum ipsum id consectetur. Ut semper dui eget pulvinar pretium. Ut ut elit tellus. Maecenas et urna tincidunt, semper urna ac, consectetur nunc. Nulla in finibus odio. Fusce bibendum eros in dui rutrum, sit amet gravida leo varius. Nulla mattis, leo eu laoreet mattis, nisi sapien rutrum ante, id imperdiet ligula neque eu neque.",
				"created_at":"3 weeks ago",
				"created_at_real":"2018-02-06 18:49:49"
			},
			{
				"id":8,
				"author":6,
				"call":1,
				"ticket":5,
				"content":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis nunc nec elit pretium efficitur. Vestibulum risus felis, aliquet mollis leo sit amet, efficitur consectetur tellus. Aliquam a mi rhoncus libero lobortis dictum quis ac urna. Phasellus sed lacus et massa varius pulvinar sed vitae eros. Quisque accumsan ullamcorper nulla, sit amet efficitur erat consequat scelerisque. Etiam malesuada dapibus metus sed pretium. Donec ut nibh in ligula aliquet fermentum id ut purus. Donec quam felis, imperdiet vitae porta ac, egestas eu augue. Phasellus vitae faucibus nunc. Ut eu lectus vitae massa ultricies mollis. Pellentesque a aliquet sapien.",
				"created_at":"1 month ago",
				"created_at_real":"2018-01-21 20:49:05"
			},
			{
				"id":9,
				"author":4,
				"call":2,
				"ticket":6,
				"content":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis nunc nec elit pretium efficitur. Vestibulum risus felis, aliquet mollis leo sit amet, efficitur consectetur tellus. Aliquam a mi rhoncus libero lobortis dictum quis ac urna. Phasellus sed lacus et massa varius pulvinar sed vitae eros. Quisque accumsan ullamcorper nulla, sit amet efficitur erat consequat scelerisque. Etiam malesuada dapibus metus sed pretium. Donec ut nibh in ligula aliquet fermentum id ut purus. Donec quam felis, imperdiet vitae porta ac, egestas eu augue. Phasellus vitae faucibus nunc. Ut eu lectus vitae massa ultricies mollis. Pellentesque a aliquet sapien.",
				"created_at":"1 month ago",
				"created_at_real":"2018-01-20 16:50:37"
			},
			{
				"id":10,
				"author":5,
				"call":3,
				"ticket":2,
				"content":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis nunc nec elit pretium efficitur. Vestibulum risus felis, aliquet mollis leo sit amet, efficitur consectetur tellus. Aliquam a mi rhoncus libero lobortis dictum quis ac urna. Phasellus sed lacus et massa varius pulvinar sed vitae eros. Quisque accumsan ullamcorper nulla, sit amet efficitur erat consequat scelerisque. Etiam malesuada dapibus metus sed pretium. Donec ut nibh in ligula aliquet fermentum id ut purus. Donec quam felis, imperdiet vitae porta ac, egestas eu augue. Phasellus vitae faucibus nunc. Ut eu lectus vitae massa ultricies mollis. Pellentesque a aliquet sapien.",
				"created_at":"2 weeks ago",
				"created_at_real":"2018-02-09 05:21:36"
			},
			{
				"id":11,
				"author":4,
				"call":4,
				"ticket":7,
				"content":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis nunc nec elit pretium efficitur. Vestibulum risus felis, aliquet mollis leo sit amet, efficitur consectetur tellus. Aliquam a mi rhoncus libero lobortis dictum quis ac urna. Phasellus sed lacus et massa varius pulvinar sed vitae eros. Quisque accumsan ullamcorper nulla, sit amet efficitur erat consequat scelerisque. Etiam malesuada dapibus metus sed pretium. Donec ut nibh in ligula aliquet fermentum id ut purus. Donec quam felis, imperdiet vitae porta ac, egestas eu augue. Phasellus vitae faucibus nunc. Ut eu lectus vitae massa ultricies mollis. Pellentesque a aliquet sapien.",
				"created_at":"2 weeks ago",
				"created_at_real":"2018-02-14 05:59:30"
			},
			{
				"id":12,
				"author":1,
				"call":5,
				"ticket":1,
				"content":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis nunc nec elit pretium efficitur. Vestibulum risus felis, aliquet mollis leo sit amet, efficitur consectetur tellus. Aliquam a mi rhoncus libero lobortis dictum quis ac urna. Phasellus sed lacus et massa varius pulvinar sed vitae eros. Quisque accumsan ullamcorper nulla, sit amet efficitur erat consequat scelerisque. Etiam malesuada dapibus metus sed pretium. Donec ut nibh in ligula aliquet fermentum id ut purus. Donec quam felis, imperdiet vitae porta ac, egestas eu augue. Phasellus vitae faucibus nunc. Ut eu lectus vitae massa ultricies mollis. Pellentesque a aliquet sapien.",
				"created_at":"1 week ago",
				"created_at_real":"2018-02-16 20:14:03"
			},
			{
				"id":13,
				"author":4,
				"call":6,
				"ticket":2,
				"content":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis nunc nec elit pretium efficitur. Vestibulum risus felis, aliquet mollis leo sit amet, efficitur consectetur tellus. Aliquam a mi rhoncus libero lobortis dictum quis ac urna. Phasellus sed lacus et massa varius pulvinar sed vitae eros. Quisque accumsan ullamcorper nulla, sit amet efficitur erat consequat scelerisque. Etiam malesuada dapibus metus sed pretium. Donec ut nibh in ligula aliquet fermentum id ut purus. Donec quam felis, imperdiet vitae porta ac, egestas eu augue. Phasellus vitae faucibus nunc. Ut eu lectus vitae massa ultricies mollis. Pellentesque a aliquet sapien.",
				"created_at":"4 weeks ago",
				"created_at_real":"2018-01-30 18:11:40"
			},
			{
				"id":14,
				"author":6,
				"call":7,
				"ticket":5,
				"content":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis nunc nec elit pretium efficitur. Vestibulum risus felis, aliquet mollis leo sit amet, efficitur consectetur tellus. Aliquam a mi rhoncus libero lobortis dictum quis ac urna. Phasellus sed lacus et massa varius pulvinar sed vitae eros. Quisque accumsan ullamcorper nulla, sit amet efficitur erat consequat scelerisque. Etiam malesuada dapibus metus sed pretium. Donec ut nibh in ligula aliquet fermentum id ut purus. Donec quam felis, imperdiet vitae porta ac, egestas eu augue. Phasellus vitae faucibus nunc. Ut eu lectus vitae massa ultricies mollis. Pellentesque a aliquet sapien.",
				"created_at":"1 month ago",
				"created_at_real":"2018-01-20 19:34:33"
			},
			{
				"id":15,
				"author":6,
				"call":8,
				"ticket":5,
				"content":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis nunc nec elit pretium efficitur. Vestibulum risus felis, aliquet mollis leo sit amet, efficitur consectetur tellus. Aliquam a mi rhoncus libero lobortis dictum quis ac urna. Phasellus sed lacus et massa varius pulvinar sed vitae eros. Quisque accumsan ullamcorper nulla, sit amet efficitur erat consequat scelerisque. Etiam malesuada dapibus metus sed pretium. Donec ut nibh in ligula aliquet fermentum id ut purus. Donec quam felis, imperdiet vitae porta ac, egestas eu augue. Phasellus vitae faucibus nunc. Ut eu lectus vitae massa ultricies mollis. Pellentesque a aliquet sapien.",
				"created_at":"1 month ago",
				"created_at_real":"2018-01-27 12:48:42"
			},
			{
				"id":16,
				"author":6,
				"call":9,
				"ticket":5,
				"content":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis nunc nec elit pretium efficitur. Vestibulum risus felis, aliquet mollis leo sit amet, efficitur consectetur tellus. Aliquam a mi rhoncus libero lobortis dictum quis ac urna. Phasellus sed lacus et massa varius pulvinar sed vitae eros. Quisque accumsan ullamcorper nulla, sit amet efficitur erat consequat scelerisque. Etiam malesuada dapibus metus sed pretium. Donec ut nibh in ligula aliquet fermentum id ut purus. Donec quam felis, imperdiet vitae porta ac, egestas eu augue. Phasellus vitae faucibus nunc. Ut eu lectus vitae massa ultricies mollis. Pellentesque a aliquet sapien.",
				"created_at":"4 weeks ago",
				"created_at_real":"2018-01-31 16:47:26"
			},
			{
				"id":17,
				"author":6,
				"call":10,
				"ticket":5,
				"content":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis nunc nec elit pretium efficitur. Vestibulum risus felis, aliquet mollis leo sit amet, efficitur consectetur tellus. Aliquam a mi rhoncus libero lobortis dictum quis ac urna. Phasellus sed lacus et massa varius pulvinar sed vitae eros. Quisque accumsan ullamcorper nulla, sit amet efficitur erat consequat scelerisque. Etiam malesuada dapibus metus sed pretium. Donec ut nibh in ligula aliquet fermentum id ut purus. Donec quam felis, imperdiet vitae porta ac, egestas eu augue. Phasellus vitae faucibus nunc. Ut eu lectus vitae massa ultricies mollis. Pellentesque a aliquet sapien.",
				"created_at":"1 month ago",
				"created_at_real":"2018-01-20 12:32:26"
			},
			{
				"id":18,
				"author":6,
				"call":11,
				"ticket":5,
				"content":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis nunc nec elit pretium efficitur. Vestibulum risus felis, aliquet mollis leo sit amet, efficitur consectetur tellus. Aliquam a mi rhoncus libero lobortis dictum quis ac urna. Phasellus sed lacus et massa varius pulvinar sed vitae eros. Quisque accumsan ullamcorper nulla, sit amet efficitur erat consequat scelerisque. Etiam malesuada dapibus metus sed pretium. Donec ut nibh in ligula aliquet fermentum id ut purus. Donec quam felis, imperdiet vitae porta ac, egestas eu augue. Phasellus vitae faucibus nunc. Ut eu lectus vitae massa ultricies mollis. Pellentesque a aliquet sapien.",
				"created_at":"4 weeks ago",
				"created_at_real":"2018-01-31 13:13:04"
			}
		],
		staff: [
			{
				"id":1,
				"department_id":1,
				"email":"dana@makeitall.com",
				"name":"Dana Gibson",
				"operator":1,
				"analyst":1,
				"specialist":0,
				"job_title":"Executive Officer",
				"phone_number":"(686) 917-4585",
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:18",
				"updated_at":"2018-02-21 10:22:18",
				"expertise_types":[

				],
				"department":{
					"id":1,
					"name":"Computer Science",
					"phone_number":"+44 9432 535724",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			},
			{
				"id":2,
				"department_id":1,
				"email":"esther@makeitall.com",
				"name":"Esther Gregory",
				"operator":0,
				"analyst":1,
				"specialist":1,
				"job_title":"Director of Recruitment and Advancement",
				"phone_number":"(121) 258-8985",
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:18",
				"updated_at":"2018-02-21 10:22:18",
				"expertise_types":[
					1,
					36,
					38,
					7,
					27,
					45
				],
				"department":{
					"id":1,
					"name":"Computer Science",
					"phone_number":"+44 9432 535724",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			},
			{
				"id":3,
				"department_id":2,
				"email":"noah@makeitall.com",
				"name":"Noah Parsons",
				"operator":1,
				"analyst":0,
				"specialist":0,
				"job_title":"Dean of School of Science",
				"phone_number":"(166) 417-4736",
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"expertise_types":[

				],
				"department":{
					"id":2,
					"name":"Mathematics",
					"phone_number":"+44 0332 695723",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			},
			{
				"id":4,
				"department_id":2,
				"email":"joseph@makeitall.com",
				"name":"Joseph Morgan",
				"operator":1,
				"analyst":0,
				"specialist":0,
				"job_title":"Administrator - Student Support",
				"phone_number":"(195) 747-1759",
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"expertise_types":[

				],
				"department":{
					"id":2,
					"name":"Mathematics",
					"phone_number":"+44 0332 695723",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			},
			{
				"id":5,
				"department_id":3,
				"email":"ronnie@makeitall.com",
				"name":"Ronnie Bryant",
				"operator":0,
				"analyst":1,
				"specialist":0,
				"job_title":"IT Manager",
				"phone_number":"(775) 391-5492",
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"expertise_types":[

				],
				"department":{
					"id":3,
					"name":"Geography",
					"phone_number":"+44 9142 523621",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			},
			{
				"id":6,
				"department_id":3,
				"email":"latoya@makeitall.com",
				"name":"Latoya Powell",
				"operator":0,
				"analyst":1,
				"specialist":1,
				"job_title":"Learning Support Specialist",
				"phone_number":"(251) 553-1188",
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"expertise_types":[
					2,
					40,
					32,
					35
				],
				"department":{
					"id":3,
					"name":"Geography",
					"phone_number":"+44 9142 523621",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			},
			{
				"id":7,
				"department_id":2,
				"email":"amber@makeitall.com",
				"name":"Amber Waters",
				"operator":1,
				"analyst":0,
				"specialist":1,
				"job_title":"School Administration Manager",
				"phone_number":"(706) 150-3718",
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"expertise_types":[
					3,
					33,
					34,
					42,
					44,
					2
				],
				"department":{
					"id":2,
					"name":"Mathematics",
					"phone_number":"+44 0332 695723",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			},
			{
				"id":8,
				"department_id":3,
				"email":"jerry@makeitall.com",
				"name":"Jerry Rodriquez",
				"operator":0,
				"analyst":1,
				"specialist":1,
				"job_title":"Marketing Officer",
				"phone_number":"(807) 359-7149",
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"expertise_types":[
					4,
					31
				],
				"department":{
					"id":3,
					"name":"Geography",
					"phone_number":"+44 9142 523621",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			},
			{
				"id":9,
				"department_id":1,
				"email":"jeffery@makeitall.com",
				"name":"Jeffery Black",
				"operator":0,
				"analyst":1,
				"specialist":0,
				"job_title":"Associate Dean (Enterprise)",
				"phone_number":"(904) 482-7467",
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"expertise_types":[

				],
				"department":{
					"id":1,
					"name":"Computer Science",
					"phone_number":"+44 9432 535724",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			},
			{
				"id":10,
				"department_id":1,
				"email":"jose@makeitall.com",
				"name":"Jose Shaw",
				"operator":1,
				"analyst":0,
				"specialist":0,
				"job_title":"Technical Facilities Manager",
				"phone_number":"(971) 582-5320",
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"expertise_types":[

				],
				"department":{
					"id":1,
					"name":"Computer Science",
					"phone_number":"+44 9432 535724",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			},
			{
				"id":11,
				"department_id":2,
				"email":"lawrence@makeitall.com",
				"name":"Lawrence Guzman",
				"operator":0,
				"analyst":1,
				"specialist":1,
				"job_title":"Academic Librarian",
				"phone_number":"(171) 707-4853",
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"expertise_types":[
					5,
					36,
					24
				],
				"department":{
					"id":2,
					"name":"Mathematics",
					"phone_number":"+44 0332 695723",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			},
			{
				"id":12,
				"department_id":1,
				"email":"jodi@makeitall.com",
				"name":"Jodi White",
				"operator":1,
				"analyst":1,
				"specialist":1,
				"job_title":"Developer",
				"phone_number":null,
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"expertise_types":[
					31,
					25,
					5,
					6,
					3
				],
				"department":{
					"id":1,
					"name":"Computer Science",
					"phone_number":"+44 9432 535724",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			},
			{
				"id":13,
				"department_id":2,
				"email":"nettie@makeitall.com",
				"name":"Nettie Cummings",
				"operator":0,
				"analyst":0,
				"specialist":1,
				"job_title":"Operational Support Officer",
				"phone_number":"(330) 535-3680",
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"expertise_types":[
					32,
					41,
					44
				],
				"department":{
					"id":2,
					"name":"Mathematics",
					"phone_number":"+44 0332 695723",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			},
			{
				"id":14,
				"department_id":1,
				"email":"Hulk@makeitall.com",
				"name":"Bruce Banner",
				"operator":1,
				"analyst":0,
				"specialist":0,
				"job_title":"School Administration Manager",
				"phone_number":"(159) 724-0853",
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"expertise_types":[

				],
				"department":{
					"id":1,
					"name":"Computer Science",
					"phone_number":"+44 9432 535724",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			},
			{
				"id":15,
				"department_id":1,
				"email":"alan@makeitall.com",
				"name":"Alan Gray",
				"operator":1,
				"analyst":1,
				"specialist":0,
				"job_title":"Administrator - Student Support",
				"phone_number":"(930) 705-6101",
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"expertise_types":[

				],
				"department":{
					"id":1,
					"name":"Computer Science",
					"phone_number":"+44 9432 535724",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			},
			{
				"id":16,
				"department_id":1,
				"email":"vernon@makeitall.com",
				"name":"Vernon Briggs",
				"operator":1,
				"analyst":0,
				"specialist":0,
				"job_title":"Academic Librarian ",
				"phone_number":"(268) 898-9211",
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"expertise_types":[

				],
				"department":{
					"id":1,
					"name":"Computer Science",
					"phone_number":"+44 9432 535724",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			},
			{
				"id":17,
				"department_id":2,
				"email":"valerie@makeitall.com",
				"name":"Valerie Bowman",
				"operator":0,
				"analyst":0,
				"specialist":1,
				"job_title":"Foundation Team Leader",
				"phone_number":"(655) 156-4522",
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"expertise_types":[
					44
				],
				"department":{
					"id":2,
					"name":"Mathematics",
					"phone_number":"+44 0332 695723",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			},
			{
				"id":18,
				"department_id":2,
				"email":"joanne@makeitall.com",
				"name":"Joanne Lopez",
				"operator":0,
				"analyst":1,
				"specialist":0,
				"job_title":"Support Administrator - Finance",
				"phone_number":"(880) 222-2186",
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"expertise_types":[

				],
				"department":{
					"id":2,
					"name":"Mathematics",
					"phone_number":"+44 0332 695723",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			},
			{
				"id":19,
				"department_id":1,
				"email":"dawn@makeitall.com",
				"name":"Dawn Pearson",
				"operator":1,
				"analyst":0,
				"specialist":0,
				"job_title":"Executive Officer",
				"phone_number":null,
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"expertise_types":[

				],
				"department":{
					"id":1,
					"name":"Computer Science",
					"phone_number":"+44 9432 535724",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			},
			{
				"id":20,
				"department_id":1,
				"email":"cora@makeitall.com",
				"name":"Cora Castro",
				"operator":0,
				"analyst":0,
				"specialist":1,
				"job_title":"Operations Manager",
				"phone_number":"(139) 839-9970",
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"expertise_types":[
					6,
					1
				],
				"department":{
					"id":1,
					"name":"Computer Science",
					"phone_number":"+44 9432 535724",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			},
			{
				"id":21,
				"department_id":1,
				"email":"karl@makeitall.com",
				"name":"Karl Stone",
				"operator":0,
				"analyst":1,
				"specialist":1,
				"job_title":"Administrator - Student Support",
				"phone_number":"(818) 293-7441",
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"expertise_types":[
					37,
					1,
					7,
					2
				],
				"department":{
					"id":1,
					"name":"Computer Science",
					"phone_number":"+44 9432 535724",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			},
			{
				"id":22,
				"department_id":2,
				"email":"viola@makeitall.com",
				"name":"Viola Shelton",
				"operator":1,
				"analyst":0,
				"specialist":0,
				"job_title":"AD(T)",
				"phone_number":"(325) 961-3649",
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"expertise_types":[

				],
				"department":{
					"id":2,
					"name":"Mathematics",
					"phone_number":"+44 0332 695723",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			},
			{
				"id":23,
				"department_id":2,
				"email":"SJohansson@makeitall.com",
				"name":"Scarlett Johansson",
				"operator":0,
				"analyst":1,
				"specialist":1,
				"job_title":"Events and Marketing Coordinator",
				"phone_number":"(319) 789-4170",
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"expertise_types":[
					43,
					31
				],
				"department":{
					"id":2,
					"name":"Mathematics",
					"phone_number":"+44 0332 695723",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			},
			{
				"id":24,
				"department_id":1,
				"email":"arturo@makeitall.com",
				"name":"Arturo Dunn",
				"operator":0,
				"analyst":0,
				"specialist":1,
				"job_title":"Support Administrator - PGR and Placements",
				"phone_number":"(244) 545-2110",
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"expertise_types":[
					18,
					36,
					44
				],
				"department":{
					"id":1,
					"name":"Computer Science",
					"phone_number":"+44 9432 535724",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			},
			{
				"id":25,
				"department_id":1,
				"email":"rochelle@makeitall.com",
				"name":"Rochelle Burgess",
				"operator":1,
				"analyst":0,
				"specialist":0,
				"job_title":"Support Administrator - Finance",
				"phone_number":"(852) 857-2975",
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"expertise_types":[

				],
				"department":{
					"id":1,
					"name":"Computer Science",
					"phone_number":"+44 9432 535724",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			},
			{
				"id":26,
				"department_id":2,
				"email":"DJohnson@makeitall.com",
				"name":"Dwayne Douglas Johnson",
				"operator":1,
				"analyst":0,
				"specialist":1,
				"job_title":"IT Specialist",
				"phone_number":"(580) 950-4433",
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"expertise_types":[
					29,
					2,
					3,
					6,
					39
				],
				"department":{
					"id":2,
					"name":"Mathematics",
					"phone_number":"+44 0332 695723",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			},
			{
				"id":27,
				"department_id":1,
				"email":"sabrina@makeitall.com",
				"name":"Sabrina Hunt",
				"operator":1,
				"analyst":0,
				"specialist":0,
				"job_title":"Administrator - Student Support",
				"phone_number":"(672) 279-6442",
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"expertise_types":[

				],
				"department":{
					"id":1,
					"name":"Computer Science",
					"phone_number":"+44 9432 535724",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			},
			{
				"id":28,
				"department_id":1,
				"email":"fannie@makeitall.com",
				"name":"Fannie Parker",
				"operator":1,
				"analyst":1,
				"specialist":1,
				"job_title":"Manager of Foundation Programme",
				"phone_number":"(324) 262-2770",
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"expertise_types":[
					41,
					26
				],
				"department":{
					"id":1,
					"name":"Computer Science",
					"phone_number":"+44 9432 535724",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			},
			{
				"id":29,
				"department_id":3,
				"email":"TStark@makeitall.com",
				"name":"Tony Stark",
				"operator":0,
				"analyst":1,
				"specialist":0,
				"job_title":"Administrator - Student Support",
				"phone_number":"(852) 831-6226",
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"expertise_types":[

				],
				"department":{
					"id":3,
					"name":"Geography",
					"phone_number":"+44 9142 523621",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			},
			{
				"id":30,
				"department_id":3,
				"email":"lawrencej@makeitall.com",
				"name":"Lawrence Jefferson",
				"operator":1,
				"analyst":0,
				"specialist":1,
				"job_title":"Programme Administration Officer",
				"phone_number":"(158) 439-8382",
				"attempts_rem":3,
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"expertise_types":[
					21
				],
				"department":{
					"id":3,
					"name":"Geography",
					"phone_number":"+44 9142 523621",
					"created_at":"2018-02-21 10:22:16",
					"updated_at":"2018-02-21 10:22:16"
				}
			}
		],
		expertise_types: [
			{
				"id":1,
				"parent_id":null,
				"name":"Printer",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[
					6,
					7
				]
			},
			{
				"id":2,
				"parent_id":null,
				"name":"Monitor",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[
					12,
					13,
					14,
					15,
					16
				]
			},
			{
				"id":3,
				"parent_id":null,
				"name":"Keyboard",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[
					17,
					18,
					19
				]
			},
			{
				"id":4,
				"parent_id":null,
				"name":"Speaker",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[

				]
			},
			{
				"id":5,
				"parent_id":null,
				"name":"Mouse",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[
					20,
					21,
					22,
					23
				]
			},
			{
				"id":6,
				"parent_id":1,
				"name":"Ink",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[
					8,
					9,
					10,
					11
				]
			},
			{
				"id":7,
				"parent_id":1,
				"name":"Paper",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[

				]
			},
			{
				"id":8,
				"parent_id":6,
				"name":"Cyan Ink",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[
					65,
					66,
					67
				]
			},
			{
				"id":9,
				"parent_id":6,
				"name":"Magenta Ink",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[
					68,
					69,
					70
				]
			},
			{
				"id":10,
				"parent_id":6,
				"name":"Yellow Ink",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[
					71,
					72,
					73
				]
			},
			{
				"id":11,
				"parent_id":6,
				"name":"Black Ink",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[
					74,
					75,
					76
				]
			},
			{
				"id":12,
				"parent_id":2,
				"name":"Screen",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[
					61,
					62,
					63,
					64
				]
			},
			{
				"id":13,
				"parent_id":2,
				"name":"Stand",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[

				]
			},
			{
				"id":14,
				"parent_id":2,
				"name":"Cable",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[
					26,
					27,
					49,
					50,
					51,
					52
				]
			},
			{
				"id":15,
				"parent_id":2,
				"name":"Button",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[
					77,
					78,
					79
				]
			},
			{
				"id":16,
				"parent_id":2,
				"name":"Power",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[
					24,
					25
				]
			},
			{
				"id":17,
				"parent_id":3,
				"name":"Keys",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[
					83,
					84,
					85
				]
			},
			{
				"id":18,
				"parent_id":3,
				"name":"Cable",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[
					57,
					58,
					59,
					60
				]
			},
			{
				"id":19,
				"parent_id":3,
				"name":"Power",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[

				]
			},
			{
				"id":20,
				"parent_id":5,
				"name":"Buttons",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[
					80,
					81,
					82
				]
			},
			{
				"id":21,
				"parent_id":5,
				"name":"Scroll Wheel",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[
					28,
					29,
					30
				]
			},
			{
				"id":22,
				"parent_id":5,
				"name":"Cable",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[
					53,
					54,
					55,
					56
				]
			},
			{
				"id":23,
				"parent_id":5,
				"name":"Power",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[

				]
			},
			{
				"id":24,
				"parent_id":16,
				"name":"Won't turn on",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[
					86,
					87
				]
			},
			{
				"id":25,
				"parent_id":16,
				"name":"Won't turn Off",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[
					88,
					89
				]
			},
			{
				"id":26,
				"parent_id":14,
				"name":"Broken Cable",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[

				]
			},
			{
				"id":27,
				"parent_id":14,
				"name":"Missing Cable",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[

				]
			},
			{
				"id":28,
				"parent_id":21,
				"name":"Missing Scroll Wheel",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[

				]
			},
			{
				"id":29,
				"parent_id":21,
				"name":"Won't Work",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[

				]
			},
			{
				"id":30,
				"parent_id":21,
				"name":"Broken Scroll Wheel",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[

				]
			},
			{
				"id":31,
				"parent_id":null,
				"name":"Software",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[
					32,
					33,
					34,
					35
				]
			},
			{
				"id":32,
				"parent_id":31,
				"name":"Installed Incorrectly",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[

				]
			},
			{
				"id":33,
				"parent_id":31,
				"name":"Needs Updating",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[

				]
			},
			{
				"id":34,
				"parent_id":31,
				"name":"Wrong Version Installed",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[

				]
			},
			{
				"id":35,
				"parent_id":31,
				"name":"Doesnt't Exist",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[
					45
				]
			},
			{
				"id":36,
				"parent_id":null,
				"name":"Security",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[
					37,
					38,
					39,
					40
				]
			},
			{
				"id":37,
				"parent_id":36,
				"name":"Password Recovery",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[
					46,
					47,
					48
				]
			},
			{
				"id":38,
				"parent_id":36,
				"name":"Virus Detected",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[
					41
				]
			},
			{
				"id":39,
				"parent_id":36,
				"name":"Locked Out",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[
					42
				]
			},
			{
				"id":40,
				"parent_id":36,
				"name":"Reset Password",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[
					43
				]
			},
			{
				"id":41,
				"parent_id":38,
				"name":"Remove Virus",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[

				]
			},
			{
				"id":42,
				"parent_id":39,
				"name":"Authentication",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[

				]
			},
			{
				"id":43,
				"parent_id":40,
				"name":"Authentication",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[

				]
			},
			{
				"id":44,
				"parent_id":null,
				"name":"User Knowledge",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[

				]
			},
			{
				"id":45,
				"parent_id":35,
				"name":"Deleted Documentation",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[

				]
			},
			{
				"id":46,
				"parent_id":37,
				"name":"Email Verification",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[

				]
			},
			{
				"id":47,
				"parent_id":37,
				"name":"Phone call Verification",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[

				]
			},
			{
				"id":48,
				"parent_id":37,
				"name":"Text Verification",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[

				]
			},
			{
				"id":49,
				"parent_id":14,
				"name":"USB",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[

				]
			},
			{
				"id":50,
				"parent_id":14,
				"name":"Lightning",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[

				]
			},
			{
				"id":51,
				"parent_id":14,
				"name":"Fibre Optic ",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[

				]
			},
			{
				"id":52,
				"parent_id":14,
				"name":"Coaxial Cable",
				"created_at":"2018-02-21 10:22:19",
				"updated_at":"2018-02-21 10:22:19",
				"children":[

				]
			},
			{
				"id":53,
				"parent_id":22,
				"name":"USB",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":54,
				"parent_id":22,
				"name":"Lightning",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":55,
				"parent_id":22,
				"name":"Fibre Optic ",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":56,
				"parent_id":22,
				"name":"Coaxial Cable",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":57,
				"parent_id":18,
				"name":"USB",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":58,
				"parent_id":18,
				"name":"Lightning",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":59,
				"parent_id":18,
				"name":"Fibre Optic ",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":60,
				"parent_id":18,
				"name":"Coaxial Cable",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":61,
				"parent_id":12,
				"name":"Cathode ray tube display (CRT)",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":62,
				"parent_id":12,
				"name":"Liquid crystal display (LCD)",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":63,
				"parent_id":12,
				"name":"Plasma display panel (PDP)",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":64,
				"parent_id":12,
				"name":"Organic light-emitting diode display (OLED)",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":65,
				"parent_id":8,
				"name":"Empty Cartridge ",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":66,
				"parent_id":8,
				"name":"Out of Date Ink",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":67,
				"parent_id":8,
				"name":"Cartridge Malfunction",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":68,
				"parent_id":9,
				"name":"Empty Cartridge ",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":69,
				"parent_id":9,
				"name":"Out of Date Ink",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":70,
				"parent_id":9,
				"name":"Cartridge Malfunction",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":71,
				"parent_id":10,
				"name":"Empty Cartridge ",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":72,
				"parent_id":10,
				"name":"Out of Date Ink",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":73,
				"parent_id":10,
				"name":"Cartridge Malfunction",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":74,
				"parent_id":11,
				"name":"Empty Cartridge ",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":75,
				"parent_id":11,
				"name":"Out of Date Ink",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":76,
				"parent_id":11,
				"name":"Cartridge Malfunction",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":77,
				"parent_id":15,
				"name":"Not Responding",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":78,
				"parent_id":15,
				"name":"Malfunctioning ",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":79,
				"parent_id":15,
				"name":"Broken ",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":80,
				"parent_id":20,
				"name":"Not Responding",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":81,
				"parent_id":20,
				"name":"Malfunctioning ",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":82,
				"parent_id":20,
				"name":"Broken ",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":83,
				"parent_id":17,
				"name":"Not Responding",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":84,
				"parent_id":17,
				"name":"Malfunctioning ",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":85,
				"parent_id":17,
				"name":"Broken ",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":86,
				"parent_id":24,
				"name":"Cable Malfunction ",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":87,
				"parent_id":24,
				"name":"Power Socket Malfunction",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":88,
				"parent_id":25,
				"name":"Power Socket Malfunction",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":89,
				"parent_id":25,
				"name":"Broken Switch",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[
					90,
					91
				]
			},
			{
				"id":90,
				"parent_id":89,
				"name":"Electronic Malfunction",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			},
			{
				"id":91,
				"parent_id":89,
				"name":"Hardware Malfunction",
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"children":[

				]
			}
		],
		expertise_type_staff: [
			{
				"id":1,
				"staff_id":2,
				"expertise_type_id":1,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[
					2
				]
			},
			{
				"id":2,
				"staff_id":6,
				"expertise_type_id":2,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":3,
				"staff_id":7,
				"expertise_type_id":3,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[
					1,
					3,
					9,
					10,
					11
				]
			},
			{
				"id":4,
				"staff_id":8,
				"expertise_type_id":4,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[
					4
				]
			},
			{
				"id":5,
				"staff_id":11,
				"expertise_type_id":5,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":6,
				"staff_id":12,
				"expertise_type_id":31,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[
					6
				]
			},
			{
				"id":7,
				"staff_id":13,
				"expertise_type_id":32,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":8,
				"staff_id":17,
				"expertise_type_id":44,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":9,
				"staff_id":20,
				"expertise_type_id":6,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":10,
				"staff_id":21,
				"expertise_type_id":37,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[
					7
				]
			},
			{
				"id":11,
				"staff_id":23,
				"expertise_type_id":43,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":12,
				"staff_id":24,
				"expertise_type_id":18,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":13,
				"staff_id":26,
				"expertise_type_id":29,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":14,
				"staff_id":30,
				"expertise_type_id":21,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[
					8
				]
			},
			{
				"id":15,
				"staff_id":2,
				"expertise_type_id":36,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[
					5
				]
			},
			{
				"id":16,
				"staff_id":2,
				"expertise_type_id":38,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":17,
				"staff_id":2,
				"expertise_type_id":7,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":18,
				"staff_id":2,
				"expertise_type_id":27,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":19,
				"staff_id":2,
				"expertise_type_id":45,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":20,
				"staff_id":6,
				"expertise_type_id":40,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":21,
				"staff_id":6,
				"expertise_type_id":32,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":22,
				"staff_id":6,
				"expertise_type_id":35,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":23,
				"staff_id":7,
				"expertise_type_id":33,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":24,
				"staff_id":7,
				"expertise_type_id":34,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":25,
				"staff_id":7,
				"expertise_type_id":42,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":26,
				"staff_id":7,
				"expertise_type_id":44,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":27,
				"staff_id":7,
				"expertise_type_id":2,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":28,
				"staff_id":8,
				"expertise_type_id":31,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":29,
				"staff_id":11,
				"expertise_type_id":36,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":30,
				"staff_id":11,
				"expertise_type_id":24,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":31,
				"staff_id":12,
				"expertise_type_id":25,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":32,
				"staff_id":12,
				"expertise_type_id":5,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":33,
				"staff_id":12,
				"expertise_type_id":6,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":34,
				"staff_id":12,
				"expertise_type_id":3,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":35,
				"staff_id":13,
				"expertise_type_id":41,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":36,
				"staff_id":13,
				"expertise_type_id":44,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":37,
				"staff_id":20,
				"expertise_type_id":1,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":38,
				"staff_id":21,
				"expertise_type_id":1,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":39,
				"staff_id":21,
				"expertise_type_id":7,
				"created_at":"2018-02-21 10:22:20",
				"updated_at":"2018-02-21 10:22:20",
				"tickets":[

				]
			},
			{
				"id":40,
				"staff_id":21,
				"expertise_type_id":2,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 10:22:21",
				"tickets":[

				]
			},
			{
				"id":41,
				"staff_id":23,
				"expertise_type_id":31,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 10:22:21",
				"tickets":[

				]
			},
			{
				"id":42,
				"staff_id":24,
				"expertise_type_id":36,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 10:22:21",
				"tickets":[

				]
			},
			{
				"id":43,
				"staff_id":24,
				"expertise_type_id":44,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 10:22:21",
				"tickets":[

				]
			},
			{
				"id":44,
				"staff_id":26,
				"expertise_type_id":2,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 10:22:21",
				"tickets":[

				]
			},
			{
				"id":45,
				"staff_id":26,
				"expertise_type_id":3,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 10:22:21",
				"tickets":[

				]
			},
			{
				"id":46,
				"staff_id":26,
				"expertise_type_id":6,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 10:22:21",
				"tickets":[

				]
			},
			{
				"id":47,
				"staff_id":26,
				"expertise_type_id":39,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 10:22:21",
				"tickets":[

				]
			},
			{
				"id":48,
				"staff_id":28,
				"expertise_type_id":41,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 10:22:21",
				"tickets":[

				]
			},
			{
				"id":49,
				"staff_id":28,
				"expertise_type_id":26,
				"created_at":"2018-02-21 10:22:21",
				"updated_at":"2018-02-21 10:22:21",
				"tickets":[

				]
			}
		],
		devices: [
			{
				"id":1,
				"type":"Phone",
				"make":"Apple",
				"serial_no":"N9TT-9G0A-B7FQ-RANC",
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[
					1,
					6,
					8
				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":2,
				"type":"Calculator",
				"make":"Casio",
				"serial_no":"QK6A-JI6S-7ETR-0A6C",
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[
					1,
					5
				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":3,
				"type":"Laptop",
				"make":"Windows",
				"serial_no":"SXFP-CHYK-ONI6-S89U",
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[
					3
				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":4,
				"type":"Ipad",
				"make":"Apple",
				"serial_no":"XNSS-HSJW-3NGU-8XTJ",
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[
					2,
					4,
					9,
					11
				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":5,
				"type":"Tablet",
				"make":"Windows",
				"serial_no":"XNSS-HSJW-3NGU-8XTQ",
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":6,
				"type":"Projector",
				"make":"Viking",
				"serial_no":"6ETI-UIL2-9WAX-XHYO",
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[
					3,
					3,
					7
				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":7,
				"type":"Watch",
				"make":"Apple",
				"serial_no":"6ETI-UIL2-9WAX-X3YO",
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":8,
				"type":"FitBit",
				"make":"Google",
				"serial_no":"7EIQ-72IU-2YNV-3L4Y",
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":9,
				"type":"Printer",
				"make":"Dell",
				"serial_no":"UKHB-6LAS-LG78-NCKM",
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":10,
				"type":"Desktop",
				"make":"Pcspecalists",
				"serial_no":"5FUG-S5G3-ESVE-JC27",
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[
					10
				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":11,
				"type":"TV",
				"make":"Flatscreen",
				"serial_no":"QDQ6-36A8-AXC6-8DHJ",
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":12,
				"type":"TV",
				"make":"Curved",
				"serial_no":"CCV8-PU4C-H29V-4JCW",
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":13,
				"type":"Phone",
				"make":"Samsung",
				"serial_no":"VBHP-3U6Y-HFN5-BVE9",
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":14,
				"type":"Laptop",
				"make":"Alienware",
				"serial_no":"E9MB-WGQ4-6DV9-5WVE",
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":15,
				"type":"Laptop",
				"make":"Apple",
				"serial_no":"7QAB-6DBE-TYQV-854U",
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":16,
				"type":"3D printer",
				"make":"Maker Bot",
				"serial_no":"8E2S-AP4C-MEMH-9YB3",
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":17,
				"type":"3D printer",
				"make":"Creality",
				"serial_no":"7T3W-AGHG-2ZD9-8WPT",
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":18,
				"type":"Fitbit",
				"make":"Apple",
				"serial_no":"RQDK-QYBY-2WFL-SACR",
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":19,
				"type":"Tablet",
				"make":"Kindle",
				"serial_no":"PJHA-TLG3-2QCB-CLNH",
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":20,
				"type":"Keyboard",
				"make":"Cyborg",
				"serial_no":"2AMT-T6JN-3XXG-SJMN",
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":21,
				"type":"Keyboard",
				"make":"Apple",
				"serial_no":"Q8BA-DUMV-9XFP-A6D8",
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":22,
				"type":"Mouse",
				"make":"Razor",
				"serial_no":"GGB3-E99Q-FJ56-ULE3",
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":23,
				"type":"Monitor",
				"make":"BenQ",
				"serial_no":"FFSY-W9C3-DP84-NRCJ",
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":24,
				"type":"Monitor",
				"make":"Dell",
				"serial_no":"5C65-7G3L-SQ2W-WXBV",
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":25,
				"type":"Desktop",
				"make":"Gaming",
				"serial_no":"ZN6B-K4KN-UQM9-2UNJ",
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":26,
				"type":"Desktop",
				"make":"Apple",
				"serial_no":"KDF8-SPK9-UB65-FFYP",
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":27,
				"type":"Mouse",
				"make":"Apple",
				"serial_no":"WDMM-K98H-DXN4-5EZL",
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":28,
				"type":"Hard Drive",
				"make":"Windows",
				"serial_no":"W5C6-FX7K-KN63-8U7Z",
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			}
		],
		programs: [
			{
				"id":1,
				"name":"Word",
				"expiry_date":"2017-10-11 00:00:00",
				"operating_system":0,
				"created_at":"2018-02-21 10:22:15",
				"updated_at":"2018-02-21 10:22:15",
				"tickets":[
					1,
					6
				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":2,
				"name":"Excel",
				"expiry_date":"2017-10-23 00:00:00",
				"operating_system":1,
				"created_at":"2018-02-21 10:22:15",
				"updated_at":"2018-02-21 10:22:15",
				"tickets":[
					1,
					5
				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":3,
				"name":"Powerpoint",
				"expiry_date":"2017-10-29 00:00:00",
				"operating_system":0,
				"created_at":"2018-02-21 10:22:15",
				"updated_at":"2018-02-21 10:22:15",
				"tickets":[
					3
				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":4,
				"name":"Numbers",
				"expiry_date":"2017-11-01 00:00:00",
				"operating_system":0,
				"created_at":"2018-02-21 10:22:15",
				"updated_at":"2018-02-21 10:22:15",
				"tickets":[
					2,
					4
				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":5,
				"name":"Chess",
				"expiry_date":"2017-11-10 00:00:00",
				"operating_system":0,
				"created_at":"2018-02-21 10:22:15",
				"updated_at":"2018-02-21 10:22:15",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":6,
				"name":"App Store",
				"expiry_date":"2017-11-11 00:00:00",
				"operating_system":1,
				"created_at":"2018-02-21 10:22:15",
				"updated_at":"2018-02-21 10:22:15",
				"tickets":[
					3,
					3
				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":7,
				"name":"Key Note",
				"expiry_date":"2017-12-21 00:00:00",
				"operating_system":0,
				"created_at":"2018-02-21 10:22:15",
				"updated_at":"2018-02-21 10:22:15",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":8,
				"name":"Preview",
				"expiry_date":"2018-01-10 00:00:00",
				"operating_system":1,
				"created_at":"2018-02-21 10:22:15",
				"updated_at":"2018-02-21 10:22:15",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":9,
				"name":"System Preferences",
				"expiry_date":"2018-01-09 00:00:00",
				"operating_system":1,
				"created_at":"2018-02-21 10:22:15",
				"updated_at":"2018-02-21 10:22:15",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":10,
				"name":"Spotify",
				"expiry_date":"2018-01-09 00:00:00",
				"operating_system":1,
				"created_at":"2018-02-21 10:22:15",
				"updated_at":"2018-02-21 10:22:15",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":11,
				"name":"Skype",
				"expiry_date":"2018-01-09 00:00:00",
				"operating_system":1,
				"created_at":"2018-02-21 10:22:15",
				"updated_at":"2018-02-21 10:22:15",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":12,
				"name":"Calculator",
				"expiry_date":"2018-01-10 00:00:00",
				"operating_system":1,
				"created_at":"2018-02-21 10:22:15",
				"updated_at":"2018-02-21 10:22:15",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":13,
				"name":"Messages",
				"expiry_date":"2018-01-10 00:00:00",
				"operating_system":0,
				"created_at":"2018-02-21 10:22:15",
				"updated_at":"2018-02-21 10:22:15",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":14,
				"name":"Google Drive",
				"expiry_date":"2018-01-16 00:00:00",
				"operating_system":0,
				"created_at":"2018-02-21 10:22:15",
				"updated_at":"2018-02-21 10:22:15",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":15,
				"name":"Dashboard",
				"expiry_date":"2018-01-18 00:00:00",
				"operating_system":0,
				"created_at":"2018-02-21 10:22:15",
				"updated_at":"2018-02-21 10:22:15",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":16,
				"name":"FaceTIme",
				"expiry_date":"2018-01-20 00:00:00",
				"operating_system":0,
				"created_at":"2018-02-21 10:22:15",
				"updated_at":"2018-02-21 10:22:15",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":17,
				"name":"Mail",
				"expiry_date":"2018-01-29 00:00:00",
				"operating_system":1,
				"created_at":"2018-02-21 10:22:15",
				"updated_at":"2018-02-21 10:22:15",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":18,
				"name":"Safari",
				"expiry_date":"2018-02-01 00:00:00",
				"operating_system":0,
				"created_at":"2018-02-21 10:22:15",
				"updated_at":"2018-02-21 10:22:15",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":19,
				"name":"Siri ",
				"expiry_date":"2018-02-02 00:00:00",
				"operating_system":0,
				"created_at":"2018-02-21 10:22:15",
				"updated_at":"2018-02-21 10:22:15",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":20,
				"name":"Microsoft OneNote",
				"expiry_date":"2018-02-09 00:00:00",
				"operating_system":0,
				"created_at":"2018-02-21 10:22:15",
				"updated_at":"2018-02-21 10:22:15",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":21,
				"name":"Gmail",
				"expiry_date":"2018-02-19 00:00:00",
				"operating_system":0,
				"created_at":"2018-02-21 10:22:15",
				"updated_at":"2018-02-21 10:22:15",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":22,
				"name":"Google Search",
				"expiry_date":"2018-02-15 00:00:00",
				"operating_system":0,
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":23,
				"name":"Microsoft Outlook",
				"expiry_date":"2018-02-18 00:00:00",
				"operating_system":1,
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":24,
				"name":"Steam",
				"expiry_date":"2018-02-21 00:00:00",
				"operating_system":0,
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":25,
				"name":"Calendar",
				"expiry_date":"2018-02-26 00:00:00",
				"operating_system":0,
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":26,
				"name":"Photos",
				"expiry_date":"2018-03-06 00:00:00",
				"operating_system":1,
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":27,
				"name":"Imovie",
				"expiry_date":"2018-03-14 00:00:00",
				"operating_system":0,
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":28,
				"name":"Garage Band",
				"expiry_date":"2018-03-12 00:00:00",
				"operating_system":0,
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			},
			{
				"id":29,
				"name":"BullGuard",
				"expiry_date":"2018-03-27 00:00:00",
				"operating_system":0,
				"created_at":"2018-02-21 10:22:16",
				"updated_at":"2018-02-21 10:22:16",
				"tickets":[

				],
				"created_at_human":"1 week ago",
				"updated_at_human":"1 week ago"
			}
		]
	}); // init function on specific page JS
</script>

</body>
</html>
