

<h2>Make-It-All</h2>
<table class="form-table">
	<tbody>
		<tr class="user-email-wrap">
			<th><label for="job_title">Job Title</label></th>
			<td><input name="job_title" id="job_title" value="" class="regular-text ltr" type="text">
			</td>
		</tr>
		<tr class="user-email-wrap">
			<th><label for="department">Department</label></th>
			<td><input name="department" id="department" value="" class="regular-text ltr" type="text">
			</td>
		</tr>
		<tr class="user-email-wrap">
			<th><label for="phone_number">Phone Number</label></th>
			<td><input name="phone_number" id="phone_number" value="" class="regular-text ltr" type="text">
			</td>
		</tr>
	</tbody>
</table>

<div class="row no-padding">
	<div class="col-xs-6">
		<div class="problem-type-picker problem-type-checkboxes">
			<div class="type-columns">
				<div class="type-column">
					<li data-expertise-type-id="1">
						Printer
						<div class="specialism-checkbox pull-right"><i class="fa fa-times"></i></div>
					</li>
					<li data-expertise-type-id="2">
						Monitor
						<div class="specialism-checkbox pull-right"><i class="fa fa-times"></i></div>
					</li>
					<li data-expertise-type-id="3">
						Keyboard
						<div class="specialism-checkbox pull-right"><i class="fa fa-times"></i></div>
					</li>
					<li class="no-children" data-expertise-type-id="4">
						Speaker
						<div class="specialism-checkbox pull-right"><i class="fa fa-times"></i></div>
					</li>
					<li data-expertise-type-id="5">
						Mouse
						<div class="specialism-checkbox pull-right"><i class="fa fa-times"></i></div>
					</li>
					<li data-expertise-type-id="31">
						Software
						<div class="specialism-checkbox pull-right"><i class="fa fa-times"></i></div>
					</li>
					<li data-expertise-type-id="36">
						Security
						<div class="specialism-checkbox pull-right"><i class="fa fa-times"></i></div>
					</li>
					<li class="no-children" data-expertise-type-id="44">
						User Knowledge
						<div class="specialism-checkbox pull-right"><i class="fa fa-times"></i></div>
					</li>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	
</script>